doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Photography

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    
    article


      section
        ul
          li
            h3 Camera Case
          li
            p Tas adalah salah satu aksesori wajib yang harus dimiliki pengguna DSLR, banyak sekali fungsi tas ini diantaranya adalah melindungi kamera dan berbagai
            p accessories lain, sebagai tempat untuk menampung kamera dll dikala bepergian atau dirumah sekalipun. Tas dapat menampung antara lain  Baterai
            p cadangan, kartu memori, lensa, cleaning kit, card reader, flash, dan masih banyak lagi. Sebelum memutuskan untuk membeli tas, ketahuilah terlebih dahulu
            p kebutuhan anda, pilihlah tas yang didalamnya terdapat banyak padding dan memiliki proteksi eksternal.
          li
            h3 Baterai
          li
            p Baterai merupakan sumber energi yang digunakan untuk mengoperasikan kamera DSLR. Pilihan baterai saat ini sangatlah beragam, diantaranya adalah
            p Baterai rechargable NI-MH dan NI-Cd ataupub baterai tipe AA.
          li
            h3 Charger
          li
            p Charger Membawa charger saat bepergian sangatlah penting, hal ini dapat menghindari kehabisan daya pada kamera. Umumnya baterai kamera DSLR saat ini

      section
        ul
          li
            h3 Flash
          li
            p Flash sangat berguna disaat kita melakukan pengambilan gambar dalam posisi low light atau kurang cahaya. Kondisi yang mempengaruhi minimnya cahaya sangat beragam diantaranya adalah waktu, cuaca, tempat dll, dan dengan meggunakan flash kita dapat menyiasati hal tersebut. Flash dapat digunakan dalam mode manual atau dalam mode auto, semua tergantung keahlian kita karena menggunakan flash juga dibutuhkan pengetahuan khusus, Gunakan mode auto apabila pencahayaan minim, flash akan on secara otomatis Flash on, biasanya digunakan untuk fill in, atau menerangi objek dan mengimbangi cahaya dari latar yang terang Flash off, pada kondisi kurang cahaya akan menghasilkan gambar yang natural Gunakan Slow Sync untuk mengurangi bayangan objek saat menggunakan flash Gunakan red eye reduction untuk menghindari mata manusia yang berwarna merah Gunakan Fitur Slow Sync flash untuk mendapatkan efek khusus saat pencahayaan malam hari.
          li
            h3  Shutter Release
          li
            p Shutter release adalah aksesori wajib bagi para fotografer, dengan menggunakannya kita tidak perlu memencet tombol shutter yang kadang menimbulkan getaran/goyangan sehingga gambar yang dihasilkan kurang maksimal. Shutter release tersedia dalam dua jenis yakni kabel dan wireless yang bisa
          li
            h3 filter
          li
            p Beberapa pilihan filter dapat digunakan untuk mendapatkan gambar dengan mood tertentu.Filter yang paling umum dipakai adalah filter UV atau Ultra Violet yang berfungsi untuk menyaring sinar Ultra Violet agar gambar yang dihasilkan lebih cerah sekaligus untuk melindungi lensa kamera dari goresan Beberapa filter lain yang lazim digunakan kamera DSLR adalah, yang juga merupakan filter utama untuk fotografi landscape

      section
        ul
          li
            h3 Filter polarizer
          li
            p Filter ini digunakan untuk meredam pantulan cahaya (non metal) yang biasanya digunakan untuk memotret objek didalam aquarium
          li
            h3 Filter Neutral Density (ND)
          li
            p Filter ini mampu meredam cahaya yang sangat kuat, sebagai contoh saat digunakan memotret objek dengan kecepatan tinggi pada siang hari yang terik
          li
            h3 Flter Graduated ND (GND)
          li
            p Filter ini juga disebut filter sebagian yang berfungsi meredam intensitas cahaya sebagaian. Filter ini mempunyai keunikan khusus yakni memiliki gradasi dari gelap ke terang jadi saat kita memotret pemandangan bisa digunakan filter GND dengan posisi pekat dibagian atas sehingga cahaya pada objek.


 
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
    header
      nav
        ul
          li
            a(href='#') Pilih Topik
            ul
                li
                  a(href='Awal.html') Awalan
                li
                  a(href='Sejarah_Photography.html') Sejarah Photography
                li
                  a(href='Jenis-jenis Photography.html') Jenis-jenis Photography
                li
                  a(href='Istilah Dasar Dalam Photography.html') Istilah Dasar Dalam Photography
                li
                  a(href='Jenis Jenis Lensa Kamera.html') Jenis-Jenis Lensa Kamera
                li
                  a(href='Mode-mode Pada Kamera.html') Mode-mode Pada Kamera
                li
                  a(href='Beberapa Fotografer Indonesia.html') Beberapa Fotografer Indonesia
                li
                  a(href='Tips Membeli DSLR yang Baik.html') Tips Membeli Kamera DSLR yang Baik
                li
                  a(href='Aksesoris Kamera DSLR.html') Aksesoris Kamera DSLR
