doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Photography

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    
    article


      section
        h2 Beberapa Fotografer Indonesia Yang Terkenal
        h3 1. Andreas Darwis Triadi
        p Pria kaca mata ini lahir di Solo, Jawa Tengan, 15 Oktober 1954. Pria ini lebih di kenal dengan nama Darwis Triadi, ia Seorang ahli fotografer Fashion, Glamor dan Potrait.
        p Darwis Triadi mengembangkan minat fotografinya sejak tahun 1979. Ilmu desain pun turut dipelajari untuk memperkaya kemampuan artistiknya. Karena prestasinya yang terus meningkat, dia diberi kepercayaan untuk menampilkan karyanya pada majalah tahunan Hasselblad yang berskala internasional pada tahun 1990. Dalam kurun waktu bersamaan, ia sempat mempresentasikan slide andalannya dalam acara Photo Kina International Competition di Köln, Jerman. Kompetisi ini digelar dalam rangka "Hasselblad International Annual". Setahun kemudian, majalah internasional Vogue memajang karyanya pada artikel spesial tentang Indonesia. Bron Elektronik AG dari Swiss, produsen lampu Broncolor, memilihnya untuk mengisi kalender Broncolor tahun 1997.

        p
        img(src='DW1.jpg')

      section
        h3 2. Jerry Aurum
        p Jerry Aurum adalah salah satu fotografi terbaik yang dimiliki Indonesia yang telah diakui dunia Internasional. lahir di Medan, 26 Mei 1976, memulai karirnya pada umur 24 tahun. Jerry Aurum adalah seorang fotografer Indonesia yang sudah go international. Banyak dari hasil karyanya dan kisah suksesnya yang dimuat di media massa, salah satu bukunya, Femalography,buku yang menceritakan tentang keunikan dari perempuan dan menjadi best seller di Singapura. Di tahun 1992, ketika Jerry kelas 2 SMA, ia membeli kamera besar pertamanya, dan sejak itu fotografi menjadi hobi yang diseriusinya. Fokus Jerry waktu itu adalah menjadi pemburu hadiah lomba foto, karena Jerry tumbuh di lingkungan keluarga yang keras, yang walaupun keluarga Jerry adalah keluarga cukup berada, Jerry dan saudara-saudaranya dididik jauh dari manja. Jika menginginkan sesuatu, semua anggota keluarganya diharuskan menabung, dan untuk membiayai hobi foto Jerry, yang seperti kita ketahui, fotografi adalah hobi yang mahal, Jerry harus mengejar uang dari hasil ikut lomba.Dan Jerry lulus dengan “cum laude” jurusan Desain Komunikasi Visual, Institut Teknologi Bandung.

        p
        img(src='JA.jpg')

      section
        h3 3. Antonius Widya Ismael
        p Pria ini lebih dikenal dengan Anton Ismael yang lahir di Jakarta, 17 September 1975. Anton menyenangi dunia seni dari usia yang sangat muda karena orangtuanya adalah memiliki sanggar tari tradisional dan sanggar lukis di rumahnya. Anton mengenal dunia photography sejak SMA dan kemudian melanjutkan kuliah dan meraih gelar sarjana di RMIT (Royal Melbourne Institute of Technology) dengan program study seni photography.
        p Anton Ismael sangat menyukai photography dengan mix media dengan menggabungkan photography dengan cat air bahkan seni instalasi dan tari seringkali berkolaborasi seni dengan beberapa seniman kontenporer. anton seringkali juga membuat karya video musik dan iklan TV. Di tahun 2005 anton mendirikan Third Eye Studio, sebagai baktinya untuk menggiatkan dunia photography, Anton ismael mendirikan kursus photography untuk rakyat yang kemudian di beri nama KELAS PAGI, kelas pagi adalah kursus photography gratis (bener bener gratis tis) tanpa di pungut biaya apapun juga. kelas pagi sebagai media bagi anton untuk berbagi pengalaman dan pengetahuannya, setiap siswa di kelas pagi wajib mengikuti kurikulum selama satu tahun dan berakhir dengan sebuah pameran.
        p Kelas diadakan setiap hari Rabu & Jumat dari 6:00-9:00.

        p
        img(src='AI.jpg')

      section
        h3 4. Shikei Goh
        p Fotografer Macro ini berasal dari kota Batam. Shikei Goh ini adalah fotografer kelas Dunia yang memenangkan kontes fotografi yang diadakan oleh "National Geogrphic" di seluruh Dunia. Lebih dari 20.000 foto dan 130 negara lebih yang ikut serta di kontes ini pada bulan januari 2012 silam, mulai dari fotografer Professional sampai yang Amatir, hanya 1 yang menjadi pemenang, yaitu foto "SPLASHING" foto macro capung karya Shikei Goh. Beliau menerima $ 10.000(USD) atau sekitar 91 juta rupiah dan perjalanan ke kantor pusat National Geographic di Washington, DC, untuk berpartisipasi dalam Seminar Nasional tahunan Fotografi Geographic pada bulan Januari 2012.
        p Sosok Shikei dalam dunia fotografi terbilang cukup singkat, bahkan tanpa mengikuti sekolah fotografi. Shikei cukup learn & share serta rutin mengadakan hunting bersama teman-teman komunitas fotografinya “Kongkow” dan learn and share di website fotografi lokal, nasional juga Internasional. Terbukti kesenioritasan dan pendidikan formal dalam fotografi tidaklah terlalu penting dalam meraih prestasi pada kancah fotografi. Keseriusan Shikei patut menjadi teladan bagi kita semua. Prestasi Shikei tentu membanggakan nama Indonesia umumnya dan Kepri khususnya  di kancah International sekelas NatGeo. Bangga, foto karya anak bangsa bisa jadi pemenangnya. Semoga para pemimpin negeri ini juga ikut serta memotivasi para fotografer lainnya di Kepri dengan mengadakan berbagai event fotografi. Karena potensi alam dan pariwisata Kepri bisa terekspose dengan cepat lewat bidikan fotografer,  yang merupakan andalan provinsi ini. Shikei telah membuktikannya. 
        p
        img(src='SK.jpg')

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
    header
      nav
        ul
          li
            a(href='#') Pilih Topik
            ul
                li
                  a(href='Sejarah_Photography.html') Sejarah Photography
                li
                  a(href='Jenis-jenis Photography.html') Jenis-jenis Photography
                li
                  a(href='Istilah Dasar Dalam Photography.html') Istilah Dasar Dalam Photography
                li
                  a(href='Mode-mode Pada Kamera.html') Mode-mode Pada Kamera
                li
                  a(href='Beberapa Fotografer Indonesia.html') Beberapa Fotografer Indonesia

