doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Photography

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    
    article


      section
        
        h1 THIS IS PHOTOGRAPHY

      section
        h2 Sejarah Fotoghrapy
        p FotograFi adalah lukisan melalui cahaya. Tanpa cahaya seni foto ini tidak akan berfungsi. istilah Photography diciptakan pada tahun 1839. Ketika teknologi seni terus berkembang bersama dengan manusia, Ilmu sangat penting bagi menjamin mutu kerja seorang seniman foto (Photografer). Dalam buku The History Of Photography karya Alam Devenport, terbitan Universitas Of New Mexico Press tahun 1991, Seorang peria Mo Ti sudah mengamati sebuah gejala. disebutkan bahwa pada abad ke-5 sebelum masehi (SM), seorang pria bernama Mo Ti sudah terbalik lewat lubang tadi. Mo Ti adalah pertama yang menyadari fenomena camera obscura. Kamera Mulai di perkenalkan ketika para pelukis menghadapi masalah untuk merekam gambar (Potrait) sekitar abad 17 dan 18. akhirnya pada tahun 1824, seorang seniman Lithography Perancis, Joseph-Nicephore Niepce (1765-1833), setelah delapan jam meng-exposed pemandangan dari jendela kameranya, melalui proses yang di sebut Heliogravure (proses kerjanya mirip lithograph) di atas pelat logam yang di lapisi aspal, berhasil melahirkan sebuah imaji yang agak kabur, berhasil pula mempertahankan gambar secara baik.

      section
        h2 Perkembangan Fotografi di Indonesia
        
        p
          b Kassian Cephas, </b>orang Jawa kelahiran Yogyakarta, 15 Januari 1845, oleh banyak pihak diakui sebagai 
          b fotografer pertama Indonesia. 
          Fotografer lainnya yang ada di Indonesia sebagian besar adalah keturunan Belanda. Kassian Chepas, yang tinggal dan punya studio di Yogyakarta juga merupakan "pemotret resmi" Kraton Yogyakarta. Selain memotret kalangan elite,Kassian Chepas juga banyak memotret candi dan bangunan bersejarah lainnya terutama yang ada di sekitar Yogyakarta. Selain karya Chepas, foto-foto kuno yang dibuat pada akhir dan awal tahun 1900-an (sayang sekali banyak yang tidak diketahui siapa pemotretnya), banyak juga yang menampilkan sisi keindahan dengan objek 
          b Panorama maupun 
          b Human Interest

      section
          h2 Beberapa Organisasi Foto Yang Tertua di Indonesia
          h3 1. G A P E R F I
          p Merupakan singkatan dari Gabungan Perhimpunan Seni Foto Indonesia, didirikan pada tahun 1953 dengan ketuanyaMayor R.M. Soelarko. GAPERFI  adalah sebuah perhimpunan dari berbagai Klub Foto pada awal berdirinya di tahun 1953, memiliki anggota 7 Klub Foto. Pada tahun 1956 jumlahnya telah membengkak menjadi 13 Klub Foto yang berasal dari seluruh Indonesia.Tanpa menemui halangan yang berarti, GAPERFI yang telah berhasil melakukan dua kali kongres pada tanggal 28 – 30 Oktober tahun 1955 di Semarang dan pada bulan Juli 1956 di Bandung, adalah murni merupakan gabungan dari seluruh perkumpulan atau klub foto di seluruh Indonesia. Dalam usianya yang sangat singkat (1953-1957) GAPERFI sempat mengukirkan saat-saat bersejarah dan indah dalam dunia fotografi di tanah air kita, yaitu dengan mengadakan “Salon Foto Indonesia I” pada tahun 1956, atau yang dikenal dengan nama 1st International Photosalon of Indonesia. GAPERFI juga sempat menerbitkan majalahnya yang bernama “KAMERA” – Madjalah Untuk Penggemar Foto – yang mana telah terbit untuk pertama kalinya pada bulan Februari 1956. KAMERA adalah majalah “bulanan” foto pertama di Indonesia. Sayang hanya sanggup terbit sekali saja.

      section
          h2 2. PAF BANDUNG
          p Sejarah Fotografi Indonesia mencatat bahwa Persatuan Amatir Foto (PAF) Bandung yang lahir pada jaman penjajahan kolonial Belanda yang berdiri pada tanggal 15 Februari 1924, jauh sebelum Perang Dunia II,  adalah sebuah Klub Foto Amatir pertama dan tertua di Indonesia. PAF menjadi anggota GAPERFI pada tahun 1954. Pada tahun 1967 PAF menerbitkan buletinnya yang dikenal dengan nama “Bulletin PAF”, dicetak dalam bentuk stensilan. Diterbitkan guna memenuhi kebutuhan anggotanya akan informasi dan pengetahuan tentang fotografi.Dalam sejarah Fotografi di tanah air, PAF Bandung mempunyai peran utama sebagai pencetus gagasan dan motor penggerak yang akhirnya melahirkan “FPSI” pada tahun 1973.

      section
          h2 3. L F C N
          p Disamping PAF Bandung, ada lagi sebuah Klub Foto yang juga tergolong tua (nomor 2) di tanah air kita, yaitu Lembaga Fotografi Candra Naya (LFCN) yang didirikan pada tahun 1948 – saat itu bernama “Sin Ming Hui”. Klub Foto Candra Naya (dh.Tjandra Naja) merupakan salah satu bagian kegiatan dari sebuah Lembaga yang bergerak dalam berbagai bidang pendidikan dan sosial Kelak di kemudian hari LFCN bersama-sama dengan PAF Bandung dan berbagai Klub Foto lainnya akan turut meletakkan tonggak yang bersejarah dalam pendirian sebuah Federasi Foto Nasional di Indonesia yang kemudian bergabung ke Dunia Fotografi Internasional. Pada perkembangannya, Club Foto Candra Naya lah yang bertahan sampai sekarang..

      section
          h2 4. SALON FOTO INDONESIA
          Mendahului terbentuknya FPSI, pada tanggal 27 Desember 1973 telah diadakan Resepsi Pembukaan (dengan penyerahan hadiah-hadiah) Salonfoto Indonesia 1973 oleh Bapak H.Adam Malik – waktu itu Menteri Luar Negeri RI – yang mempunyai kedudukan sebagai Pelindung Salon Foto (tidak untuk umum).
          p Selanjutnya Salon Foto Indonesia I (1973) berlangsung bersamaan dengan Musyawarah Nasional yang melahirkan FPSI, bertempat di Taman Ismail Marzuki juga (untuk umum). Patut diketahui bahwa koordinator dari penyelenggaraan Salon Foto Indonesia I ini adalah PAF Bandung dan Candranaya Jakarta. Salon Foto Indonesia tahun 1956 yang diselenggarakan oleh GAPERFI – 1st International Photosalon of Indonesia - diakui sebagai Salon Foto Indonesia.
          p Kemudian dalam kiprahnya, mereka telah sukses menyelenggarakan berbagai macam kegiatan, diantaranya yaitu:
          p 1. Munas yang ke XX pada tanggal 27-28 Oktober 2000, yang bertempat di Klaten.
          p 2. Mempersiapkan Salon Foto Indonesia ke XXI, yang mana akan dilangsungkan di Bandung dengan tuan rumah PAF Bandung sebagai Pelaksananya.

      section
          h2 Beberapa Fotografer Indonesia Yang Terkenal
          h3 1. Andreas Darwis Triadi
          p Pria kaca mata ini lahir di Solo, Jawa Tengan, 15 Oktober 1954. Pria ini lebih di kenal dengan nama Darwis Triadi, ia Seorang ahli fotografer Fashion, Glamor dan Potrait.
          p Darwis Triadi mengembangkan minat fotografinya sejak tahun 1979. Ilmu desain pun turut dipelajari untuk memperkaya kemampuan artistiknya. Karena prestasinya yang terus meningkat, dia diberi kepercayaan untuk menampilkan karyanya pada majalah tahunan Hasselblad yang berskala internasional pada tahun 1990. Dalam kurun waktu bersamaan, ia sempat mempresentasikan slide andalannya dalam acara Photo Kina International Competition di Köln, Jerman. Kompetisi ini digelar dalam rangka "Hasselblad International Annual". Setahun kemudian, majalah internasional Vogue memajang karyanya pada artikel spesial tentang Indonesia. Bron Elektronik AG dari Swiss, produsen lampu Broncolor, memilihnya untuk mengisi kalender Broncolor tahun 1997.

      section
          h3 2. Jerry Aurum
          p Jerry Aurum adalah salah satu fotografi terbaik yang dimiliki Indonesia yang telah diakui dunia Internasional. lahir di Medan, 26 Mei 1976, memulai karirnya pada umur 24 tahun. Jerry Aurum adalah seorang fotografer Indonesia yang sudah go international. Banyak dari hasil karyanya dan kisah suksesnya yang dimuat di media massa, salah satu bukunya, Femalography,buku yang menceritakan tentang keunikan dari perempuan dan menjadi best seller di Singapura. Di tahun 1992, ketika Jerry kelas 2 SMA, ia membeli kamera besar pertamanya, dan sejak itu fotografi menjadi hobi yang diseriusinya. Fokus Jerry waktu itu adalah menjadi pemburu hadiah lomba foto, karena Jerry tumbuh di lingkungan keluarga yang keras, yang walaupun keluarga Jerry adalah keluarga cukup berada, Jerry dan saudara-saudaranya dididik jauh dari manja. Jika menginginkan sesuatu, semua anggota keluarganya diharuskan menabung, dan untuk membiayai hobi foto Jerry, yang seperti kita ketahui, fotografi adalah hobi yang mahal, Jerry harus mengejar uang dari hasil ikut lomba.Dan Jerry lulus dengan “cum laude” jurusan Desain Komunikasi Visual, Institut Teknologi Bandung.

      section
          h3 3. Antonius Widya Ismael
          p Pria ini lebih dikenal dengan Anton Ismael yang lahir di Jakarta, 17 September 1975. Anton menyenangi dunia seni dari usia yang sangat muda karena orangtuanya adalah memiliki sanggar tari tradisional dan sanggar lukis di rumahnya. Anton mengenal dunia photography sejak SMA dan kemudian melanjutkan kuliah dan meraih gelar sarjana di RMIT (Royal Melbourne Institute of Technology) dengan program study seni photography.
          p Anton Ismael sangat menyukai photography dengan mix media dengan menggabungkan photography dengan cat air bahkan seni instalasi dan tari seringkali berkolaborasi seni dengan beberapa seniman kontenporer. anton seringkali juga membuat karya video musik dan iklan TV. Di tahun 2005 anton mendirikan Third Eye Studio, sebagai baktinya untuk menggiatkan dunia photography, Anton ismael mendirikan kursus photography untuk rakyat yang kemudian di beri nama KELAS PAGI, kelas pagi adalah kursus photography gratis (bener bener gratis tis) tanpa di pungut biaya apapun juga. kelas pagi sebagai media bagi anton untuk berbagi pengalaman dan pengetahuannya, setiap siswa di kelas pagi wajib mengikuti kurikulum selama satu tahun dan berakhir dengan sebuah pameran.
          p Kelas diadakan setiap hari Rabu & Jumat dari 6:00-9:00.

      section
          h3 4. Shikei Goh
          Fotografer Macro ini berasal dari kota Batam. Shikei Goh ini adalah fotografer kelas Dunia yang memenangkan kontes fotografi yang diadakan oleh "National Geogrphic" di seluruh Dunia. Lebih dari 20.000 foto dan 130 negara lebih yang ikut serta di kontes ini pada bulan januari 2012 silam, mulai dari fotografer Professional sampai yang Amatir, hanya 1 yang menjadi pemenang, yaitu foto "SPLASHING" foto macro capung karya Shikei Goh. Beliau menerima $ 10.000(USD) atau sekitar 91 juta rupiah dan perjalanan ke kantor pusat National Geographic di Washington, DC, untuk berpartisipasi dalam Seminar Nasional tahunan Fotografi Geographic pada bulan Januari 2012.
          p Sosok Shikei dalam dunia fotografi terbilang cukup singkat, bahkan tanpa mengikuti sekolah fotografi. Shikei cukup learn & share serta rutin mengadakan hunting bersama teman-teman komunitas fotografinya “Kongkow” dan learn and share di website fotografi lokal, nasional juga Internasional. Terbukti kesenioritasan dan pendidikan formal dalam fotografi tidaklah terlalu penting dalam meraih prestasi pada kancah fotografi. Keseriusan Shikei patut menjadi teladan bagi kita semua. Prestasi Shikei tentu membanggakan nama Indonesia umumnya dan Kepri khususnya  di kancah International sekelas NatGeo. Bangga, foto karya anak bangsa bisa jadi pemenangnya. Semoga para pemimpin negeri ini juga ikut serta memotivasi para fotografer lainnya di Kepri dengan mengadakan berbagai event fotografi. Karena potensi alam dan pariwisata Kepri bisa terekspose dengan cepat lewat bidikan fotografer,  yang merupakan andalan provinsi ini. Shikei telah membuktikannya. 

      section
        h2 Perbedaan Tukang Foto dengan Fotografer
        p Pada dasarnya istilah tukang foto dan fotografer sama saja, yaitu orang yang ahli dalam membuat foto. Tapi istilah tukang foto lambat laun menjadi menurun nilainya, sedangkan titel fotografer semakin keren dewasa ini.
        p Tukang foto juga lebih identik dengan orang-orang yang menjajakan jasa foto dengan tarif relatif murah, seperti yang kita lihat di kawasan wisata ataupun tukang foto di acara-acara sosial seperti pernikahan.
        h3 Lalu apa beda tukang foto dengan fotografer?
        p Kalau tukang foto lebih bersifat reaktif terhadap suatu keadaan, fotografer pendekatannya lebih berbeda. Seorang fotografer menghabiskan banyak waktunya tidak di dalam sesi pemotretan saja, tetapi sebagian besar lebih ke pembuatan konsep & ide, perencanaan, persiapan, dan setelah selesai foto, masih harus melakukan post-processing (editing), layout dan percetakan.
        p Banyak yang harus dipikirkan untuk menjadi fotografer, apalagi fotografer profesional yang bertarif tinggi. Ide kreatif, eksekusi dan hasil foto lah yang membuat seorang fotografer dibayar jauh lebih tinggi nilainya daripada aksi motret itu sendiri.


      section
        
        h1 TIPS MENGAMBIL FOTO YANG BAIK

      section
        p Mengambil gambar untuk mengabadikan momen dalam perjalanan adalah hal yang tak akan dilewatkan oleh semua pelancong. Namun, banyak juga wisatawan yang asal foto hingga gambar terlihat kurang bagus.
        p Chuck Delaney melalui bukunya Top Travel Photo Tips from Ten Pro Photographers memberikan beberapa tips mengambil gambar, seperti dilansir oleh USA Today (21/11), berikut ini.

      section
        ul
          li 1. Jangan hanya mengambil foto, tapi 'buat foto' dan rencanakan gambar apa yang ingin Anda ambil. Tak peduli ke manapun Anda pergi, Anda akan sangat bangga ketika mengambil foto yang bagus. - Michael Doven
          li 2. Angka ganjil lebih menarik daripada angka genap. Misalkan mengambil gambar tiga pohon secara landscape dibanding empat atau dua pohon akan lebih menarik. - Wendy Connett

          li 3. Pikirkan apa yang ada di belakang objek foto. Background juga sama pentingnya dengan apa yang menjadi fokus utama foto Anda. - Larry Louie
          li 4. Bangun hubungan dengan subyek foto melalui pembicaraan. Gunakan gestur jika Anda tak bisa bahasa mereka. Membangun hubungan dengan subyek bisa menghasilkan gambar yang hebat. - Chase Guttman
          li 5. Di tempat wisata populer, pergi pagi-pagi sekali ketika banyak orang lokal yang keluar, namun sebelum para turis berdatangan. - Mitchell Kanashkevich
          li 6. Latih kepekaan situasional untuk mengantisipasi hal-hal mendadak yang terjadi. Misalkan ketika memotret area ski dan salju, ambil gambar sebelum badai salju datang. - Marc Muench
          li 7. Sabar. Rencanakan gambar, bidik, kemudian ambil gambar ketika telah sesuai dengan gambaran yang diinginkan. - Nadia Shira
          li 8. Ketahui kamera Anda. Fotografer travel yang handal adalah seniman yang tahu cara membuat pemandangan menjadi indah serta 'geek' yang mengerti semua hal tentang kamera yang digunakannya. - Tom Robinson
          li 9. Foto menyimpan kenangan. Begitu juga fotografer yang bercerita melalui hasil bidikannya. Foto yang hebat adalah ketika kita sangat menyukainya karena sisi estetis dan makna di dalamnya. - Jesse Kalisher
          li 10. Ketika mengambil subyek yang bergerak, ikuti bersalam tubuh dan kamera saat mengambil gambar. Anda membuat gambar membeku ketika benda itu bergerak, namun background akan tampak berjalan, sehingga Anda bisa menangkap 'pergerakan' dan kecepatan benda. - Peter Guttman

      section
        h2 Definisi Fotografi
        p Dalam seni rupa, fotografi adalah proses pembuatan lukisan dengan menggunakan media cahaya. Sebagai istilah umum, fotografi berarti proses atau metode untuk menghasilkan gambar atau foto dari suatu obyek dengan merekam pantulan cahaya yang mengenai obyek tersebut pada media yang peka cahaya. Alat paling populer untuk menangkap cahaya ini adalah kamera. Prinsip fotografi adalah memfokuskan cahaya dengan bantuan pembiasan sehingga mampu membakar medium penangkap cahaya. Medium yang telah dibakar dengan ukuran luminitas cahaya yang tepat akan menghailkan bayangan identik dengan cahaya yang memasuki medium pembiasan (selanjutnya disebut lensa).


      section
        h2 JENIS-JENIS PHOTOGRAFHY
        h3  1. FOTO MANUSIA
        Foto manusia adalah semua foto yang obyek utamanya manusia, baik anak-anak sampai orang tua,
        muda maupun tua. Unsur utama dalam foto ini adalah manusia, yang dapat menawarkan nilai dan
        daya tarik untuk divisualisasikan. Foto ini dibagi lagi menjadi beberapa kategori yaitu :


      section
        h2 1.1 Portrait
        Portrait adalah foto yang menampilkan ekspresi dan karakter manusia dalam kesehariannya.
        Karakter manusia yang berbeda-beda akan menawarkan image tersendiri dalam membuat foto
        portrait. Tantangan dalam membuat foto portrait adalah dapat menangkap ekspresi obyek (mimic,
        tatapan, kerut wajah) yang mampu memberikan kesan emosional dan menciptakan karakter
        seseorang.

      section
        h2 1.2 Human Interest
        Human Interest dalam karya fotografi adalah menggambarkan kehidupan manusia atau interaksi
        manusia dalam kehidupan sehari-hari serta ekspresi emosional yang memperlihatkan manusia
        dengan masalah kehidupannya, yang mana kesemuanya itu membawa rasa ketertarikan dan rasa
        simpati bagi para orang yang menikmati foto tersebut

     
      
      section
        
        h2 1.3 Stage Photography
        Stage Photography adalah semua foto yang menampilkan aktivitas/gaya hidup manusia yang
        merupakan bagian dari budaya dan dunia entertainment untuk dieksploitasi dan menjadi bahan yang
        menarik untuk divisualisasikan.

      section
        h2 1.4 Sport
        Foto olahraga adalah jenis foto yang menangkap aksi menarik dan spektakuler dalam event dan
        pertandingan olah raga. Jenis foto ini membutuhkan kecermatan dan kecepatan seorang fotografer
        dalam menangkap momen terbaik.

      section

        h2 2. FOTO NATURE
        Dalam jenis foto nature obyek utamanya adalah benda dan makhluk hidup alami (natural) seperti hewan, tumbuhan, gunung, hutan dan lain-lain.

      section
        ul
          li
          li 
            h2 2.1 Foto Flora
            Jenis foto dengan obyek utama tanaman dan tumbuhan dikenal dengan jenis foto flora. Berbagai jenis
            tumbuhan dengan segala keanekaragamannya menawarkan nilai keindahan dan daya tarik untuk
            direkam dengan kamera.
          li 
            h2 2.2 Foto Fauna
            Foto fauna adalah jenis foto dengan berbagai jenis binatang sebagai obyek utama. Foto ini
            menampilkan daya tarik dunia binatang dalam aktifitas dan interaksinya.

      section

        h2 2.3 Foto Lanskap
        Foto lanskap adalah jenis foto yang begitu popular seperti halnya foto manusia. Foto lanskap
        merupakan foto bentangan alam yang terdiri dari unsur langit, daratan dan air, sedangkan manusia,
        hewan, dan tumbuhan hanya sebagai unsur pendukung dalam foto ini. Ekspresi alam serta cuaca
        menjadi moment utama dalam menilai keberhasilan membuat foto lanskap.

      section

        h2 3. FOTO ARSITEKTUR
        Kemanapun anda pergi akan menjumpai bangunan-bangunan dalam berbagai ukuran, 
        Kemanapun anda pergi akan menjumpai bangunan-bangunan dalam berbagai ukuran, bentuk,
        warna dan desain. Dalam jenis foto ini menampilkan keindahan suatu bangunan baik dari segi
        sejarah, budaya, desain dan konstruksinya. Memotret suatu bangunan dari berbagai sisi dan
        menemukan nilai keindahannya menjadi sangat penting dalam membuat foto ini. Foto arsitektur ini
        tak lepas dari hebohnya dunia arsitektur dan teknik sipil sehingga jenis foto ini menjadi cukup penting
        peranannya.

      section

        h2 4. FOTO STILL LIFE
        Foto still life adalah menciptakan sebuah gambar dari benda atau obyek mati. Membuat gambar dari
        benda mati menjadi hal yang menarik dan tampak “hidup”, komunikatif, ekspresif dan mengandung
        pesan yang akan disampaikan merupakan bagian yang paling penting dalam penciptaan karya foto
        ini. Foto still life bukan sekadar menyalin atau memindahkan objek ke dalam film dengan cara
        seadanya, karena bila seperti itu yang dilakukan, namanya adalah mendokumentasikan. Jenis foto ini
        merupakan jenis foto yang menantang dalam menguji kreatifitas, imajinasi, dan kemampuan teknis.

      section

        h2 5. FOTO JURNALISTIK
        Foto jurnalistik adalah foto yang digunakan untuk kepentingan pers atau kepentingan informasi.
        Dalam penyampaian pesannya, harus terdapat caption (tulisan yang menerangkan isi foto) sebagai
        bagian dari penyajian jenis foto ini. Jenis foto ini sering kita jumpai dalam media massa (Koran,
        majalah, bulletin, dll).

      section

        h2 TEKNIK DASAR DAN PRO UNTUK PEMOTRETAN

      section

        h2 ZOOMMING
        Zooming adalah kreatif pemotretan dengan memanfaatkan fasilitas ring zoom pada lensa kamera.
        Zoom in adalah membuat gambar obyek tampak lebih mendekat sedangkan zoom out adalah
        membuat gambar obyek tampak lebih menjauh. Dalam pengaturan speed dan penggunaan zoom
        yang tepat akan memberikan efek motion (gerak) pada hasil foto.

      section

        h2 Panning

        P Panning adalah teknik kreatif pemotretan untuk mendapatkan efek gerak pada obyek
        yang bergerak(balap motor,orang berlari,dll).hasil panning adalah adanya efek motion(gerak)pada latar belakang(background).

      section

        h2 Double/multi Ekspose
        P Adalah teknik pemotretan dengan mengkombinasikan beberapa perekam imaji/gambar dalam satu bingkai frame
        tenik ini membutuhkan penuangan kreatifitas,ide,konsep dan pemahaman komposisi serta pencahayaan.

      section

        h2 BULB
        P Bulb adalah proses pemotretan dengan memanfaatkan fasilitas bulb pada kamera,fasilitas bulb pada kamera memberikan keleluasaan dalam menentukan beberapa lama rana terbuka untuk prosespembakaran.
        bila kita memotret pada kondisi cahaya yang minim atau sanagat kurang(pada malam hari),dan prioritas speed-
        tidak mampu lagi mendapatkan pencahayaan normal maka fasilitas bulv pada kamera akan sangat membantu.untuk menghindari goncangan(shaking),a;at bantu tripod dan kabel release sangat di butuhkans

      section

        h2 SILUET
        P Siluet adalah teknik pemotretan untuk gambar obyek dalam keadaan gelap.
        teknik ini memanfaatkan sumber cahaya yang berasl dari balik obyek yang akan kita potret.
        teknik ini membutuhkan keteopatan pencahayaan agar obyek yang kita rekam tetap tampil dengan kontur dan ketajaman yang tepat.

      section

        h2 MAKRO
        P Makro adalah kreatif dalam pemotretan dan menggunakan lensa makro untuk mendapatkan gambar obyek yang dekat sekali.
        foto makro juga di gunakan untuk mendapatkan detail dan tekstur pada obyek yang kita potret.
        Dalam pemotretan makro ruang tajam akan menjadi sempit sekali karenah oleh itu di butuhkan ketepatan pencahayaan dan focusing.ketika  tidak ada lensa makro untuk melakukan  pemotretan ini kita dapat mensiasatinya denganmembalik lensa normal untuk pemotretan makro.

      section

        h2 FRAMMING
        P Framming adalah kreatif pemotretan dengan memanfaatkan unsur lain pada obyek yang kita potret
        sehingga membentuk kesan frame/bingkai tersendiri untuk menambah nilai keunikan dan menarikserta memperkuat kesan foto secara visual.

      section

        h2 STROBIS
        P Strobist adalah teknik pemakaian flash secara external, jadi tidak digunakan diatas hotshoe kamera,
        melainkan dengan bantuan trigger, atau Flash yang bisa digunakan sebagai master
        Alat wireless
        trigger ini umumnya menggunakan gelombang radio atau sinar infra merah untuk menyalakan flash
        slave (flash lain harus mengikuti pada flash utama)
        Keuntungan dengan menggunakan teknik ini kita
        bisa memposisikan satu atau lebih flash di mana saja untuk mengatur arah, intensitas, cahaya untuk
        menghasilkan foto yg kita inginkan

      section
        h2 Edit foto yang baik
        P 1 Untuk foto travel / jalan-jalan, editing yang sukses adalah bisa memberikan kesan suasana atau model atau mood tertentu.
        2 Untuk foto potrait/model, editan yang bagus mempertimbangkan karakter subjek yang di foto, dan keseluruhan suasana foto baik subjek maupun latar belakang.

      ssection(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
    nav
      ul
        li
          a(href='#') Pilih Topik
          ul
              li
                a(href='#1') Tips Mengambil Foto Yang Baik
              li
                a(href='#') 2