doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Photography

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    
    article


      section
        
        h1 THIS IS PHOTOGRAPHY

      section
        h2 Sejarah Fotoghrapy
        p FotograFi adalah lukisan melalui cahaya. Tanpa cahaya seni foto ini tidak akan berfungsi. istilah Photography diciptakan pada tahun 1839. Ketika teknologi seni terus berkembang bersama dengan manusia, Ilmu sangat penting bagi menjamin mutu kerja seorang seniman foto (Photografer). Dalam buku The History Of Photography karya Alam Devenport, terbitan Universitas Of New Mexico Press tahun 1991, Seorang peria Mo Ti sudah mengamati sebuah gejala. disebutkan bahwa pada abad ke-5 sebelum masehi (SM), seorang pria bernama Mo Ti sudah terbalik lewat lubang tadi. Mo Ti adalah pertama yang menyadari fenomena camera obscura. Kamera Mulai di perkenalkan ketika para pelukis menghadapi masalah untuk merekam gambar (Potrait) sekitar abad 17 dan 18. akhirnya pada tahun 1824, seorang seniman Lithography Perancis, Joseph-Nicephore Niepce (1765-1833), setelah delapan jam meng-exposed pemandangan dari jendela kameranya, melalui proses yang di sebut Heliogravure (proses kerjanya mirip lithograph) di atas pelat logam yang di lapisi aspal, berhasil melahirkan sebuah imaji yang agak kabur, berhasil pula mempertahankan gambar secara baik.

      section
        h2 Perkembangan Fotografi di Indonesia
        p     
        b Kassian Cephas, 
        orang Jawa kelahiran Yogyakarta, 15 Januari 1845, oleh banyak pihak diakui sebagai 
        b fotografer pertama Indonesia. 
        Fotografer lainnya yang ada di Indonesia sebagian besar adalah keturunan Belanda. Kassian Chepas, yang tinggal dan punya studio di Yogyakarta juga merupakan "pemotret resmi" Kraton Yogyakarta. Selain memotret kalangan elite,Kassian Chepas juga banyak memotret candi dan bangunan bersejarah lainnya terutama yang ada di sekitar Yogyakarta. Selain karya Chepas, foto-foto kuno yang dibuat pada akhir dan awal tahun 1900-an (sayang sekali banyak yang tidak diketahui siapa pemotretnya), banyak juga yang menampilkan sisi keindahan dengan objek 
        b Panorama maupun 
        b Human Interest
        p
        img(src='KC.jpg')

      section
        h2 Beberapa Organisasi Foto Yang Tertua di Indonesia
        h3 1. G A P E R F I
        p Merupakan singkatan dari Gabungan Perhimpunan Seni Foto Indonesia, didirikan pada tahun 1953 dengan ketuanyaMayor R.M. Soelarko. GAPERFI  adalah sebuah perhimpunan dari berbagai Klub Foto pada awal berdirinya di tahun 1953, memiliki anggota 7 Klub Foto. Pada tahun 1956 jumlahnya telah membengkak menjadi 13 Klub Foto yang berasal dari seluruh Indonesia.Tanpa menemui halangan yang berarti, GAPERFI yang telah berhasil melakukan dua kali kongres pada tanggal 28 – 30 Oktober tahun 1955 di Semarang dan pada bulan Juli 1956 di Bandung, adalah murni merupakan gabungan dari seluruh perkumpulan atau klub foto di seluruh Indonesia. Dalam usianya yang sangat singkat (1953-1957) GAPERFI sempat mengukirkan saat-saat bersejarah dan indah dalam dunia fotografi di tanah air kita, yaitu dengan mengadakan “Salon Foto Indonesia I” pada tahun 1956, atau yang dikenal dengan nama 1st International Photosalon of Indonesia. GAPERFI juga sempat menerbitkan majalahnya yang bernama “KAMERA” – Madjalah Untuk Penggemar Foto – yang mana telah terbit untuk pertama kalinya pada bulan Februari 1956. KAMERA adalah majalah “bulanan” foto pertama di Indonesia. Sayang hanya sanggup terbit sekali saja.

      section
        h2 2. PAF BANDUNG
        p Sejarah Fotografi Indonesia mencatat bahwa Persatuan Amatir Foto (PAF) Bandung yang lahir pada jaman penjajahan kolonial Belanda yang berdiri pada tanggal 15 Februari 1924, jauh sebelum Perang Dunia II,  adalah sebuah Klub Foto Amatir pertama dan tertua di Indonesia. PAF menjadi anggota GAPERFI pada tahun 1954. Pada tahun 1967 PAF menerbitkan buletinnya yang dikenal dengan nama “Bulletin PAF”, dicetak dalam bentuk stensilan. Diterbitkan guna memenuhi kebutuhan anggotanya akan informasi dan pengetahuan tentang fotografi.Dalam sejarah Fotografi di tanah air, PAF Bandung mempunyai peran utama sebagai pencetus gagasan dan motor penggerak yang akhirnya melahirkan “FPSI” pada tahun 1973.
        p
        img(src='PAF.jpg')

      section
        h2 3. L F C N
        p Disamping PAF Bandung, ada lagi sebuah Klub Foto yang juga tergolong tua (nomor 2) di tanah air kita, yaitu Lembaga Fotografi Candra Naya (LFCN) yang didirikan pada tahun 1948 – saat itu bernama “Sin Ming Hui”. Klub Foto Candra Naya (dh.Tjandra Naja) merupakan salah satu bagian kegiatan dari sebuah Lembaga yang bergerak dalam berbagai bidang pendidikan dan sosial Kelak di kemudian hari LFCN bersama-sama dengan PAF Bandung dan berbagai Klub Foto lainnya akan turut meletakkan tonggak yang bersejarah dalam pendirian sebuah Federasi Foto Nasional di Indonesia yang kemudian bergabung ke Dunia Fotografi Internasional. Pada perkembangannya, Club Foto Candra Naya lah yang bertahan sampai sekarang.
        p
        img(src='CN.jpg')

      section
        h2 4. SALON FOTO INDONESIA
        Mendahului terbentuknya FPSI, pada tanggal 27 Desember 1973 telah diadakan Resepsi Pembukaan (dengan penyerahan hadiah-hadiah) Salonfoto Indonesia 1973 oleh Bapak H.Adam Malik – waktu itu Menteri Luar Negeri RI – yang mempunyai kedudukan sebagai Pelindung Salon Foto (tidak untuk umum).
        p Selanjutnya Salon Foto Indonesia I (1973) berlangsung bersamaan dengan Musyawarah Nasional yang melahirkan FPSI, bertempat di Taman Ismail Marzuki juga (untuk umum). Patut diketahui bahwa koordinator dari penyelenggaraan Salon Foto Indonesia I ini adalah PAF Bandung dan Candranaya Jakarta. Salon Foto Indonesia tahun 1956 yang diselenggarakan oleh GAPERFI – 1st International Photosalon of Indonesia - diakui sebagai Salon Foto Indonesia.
        p Kemudian dalam kiprahnya, mereka telah sukses menyelenggarakan berbagai macam kegiatan, diantaranya yaitu:
        p 1. Munas yang ke XX pada tanggal 27-28 Oktober 2000, yang bertempat di Klaten.
        p 2. Mempersiapkan Salon Foto Indonesia ke XXI, yang mana akan dilangsungkan di Bandung dengan tuan rumah PAF Bandung sebagai Pelaksananya.

      section
        h2 Beberapa Fotografer Indonesia Yang Terkenal
        h3 1. Andreas Darwis Triadi
        p Pria kaca mata ini lahir di Solo, Jawa Tengan, 15 Oktober 1954. Pria ini lebih di kenal dengan nama Darwis Triadi, ia Seorang ahli fotografer Fashion, Glamor dan Potrait.
        p Darwis Triadi mengembangkan minat fotografinya sejak tahun 1979. Ilmu desain pun turut dipelajari untuk memperkaya kemampuan artistiknya. Karena prestasinya yang terus meningkat, dia diberi kepercayaan untuk menampilkan karyanya pada majalah tahunan Hasselblad yang berskala internasional pada tahun 1990. Dalam kurun waktu bersamaan, ia sempat mempresentasikan slide andalannya dalam acara Photo Kina International Competition di Köln, Jerman. Kompetisi ini digelar dalam rangka "Hasselblad International Annual". Setahun kemudian, majalah internasional Vogue memajang karyanya pada artikel spesial tentang Indonesia. Bron Elektronik AG dari Swiss, produsen lampu Broncolor, memilihnya untuk mengisi kalender Broncolor tahun 1997.

      section
        h3 2. Jerry Aurum
        p Jerry Aurum adalah salah satu fotografi terbaik yang dimiliki Indonesia yang telah diakui dunia Internasional. lahir di Medan, 26 Mei 1976, memulai karirnya pada umur 24 tahun. Jerry Aurum adalah seorang fotografer Indonesia yang sudah go international. Banyak dari hasil karyanya dan kisah suksesnya yang dimuat di media massa, salah satu bukunya, Femalography,buku yang menceritakan tentang keunikan dari perempuan dan menjadi best seller di Singapura. Di tahun 1992, ketika Jerry kelas 2 SMA, ia membeli kamera besar pertamanya, dan sejak itu fotografi menjadi hobi yang diseriusinya. Fokus Jerry waktu itu adalah menjadi pemburu hadiah lomba foto, karena Jerry tumbuh di lingkungan keluarga yang keras, yang walaupun keluarga Jerry adalah keluarga cukup berada, Jerry dan saudara-saudaranya dididik jauh dari manja. Jika menginginkan sesuatu, semua anggota keluarganya diharuskan menabung, dan untuk membiayai hobi foto Jerry, yang seperti kita ketahui, fotografi adalah hobi yang mahal, Jerry harus mengejar uang dari hasil ikut lomba.Dan Jerry lulus dengan “cum laude” jurusan Desain Komunikasi Visual, Institut Teknologi Bandung.

      section
        h3 3. Antonius Widya Ismael
        p Pria ini lebih dikenal dengan Anton Ismael yang lahir di Jakarta, 17 September 1975. Anton menyenangi dunia seni dari usia yang sangat muda karena orangtuanya adalah memiliki sanggar tari tradisional dan sanggar lukis di rumahnya. Anton mengenal dunia photography sejak SMA dan kemudian melanjutkan kuliah dan meraih gelar sarjana di RMIT (Royal Melbourne Institute of Technology) dengan program study seni photography.
        p Anton Ismael sangat menyukai photography dengan mix media dengan menggabungkan photography dengan cat air bahkan seni instalasi dan tari seringkali berkolaborasi seni dengan beberapa seniman kontenporer. anton seringkali juga membuat karya video musik dan iklan TV. Di tahun 2005 anton mendirikan Third Eye Studio, sebagai baktinya untuk menggiatkan dunia photography, Anton ismael mendirikan kursus photography untuk rakyat yang kemudian di beri nama KELAS PAGI, kelas pagi adalah kursus photography gratis (bener bener gratis tis) tanpa di pungut biaya apapun juga. kelas pagi sebagai media bagi anton untuk berbagi pengalaman dan pengetahuannya, setiap siswa di kelas pagi wajib mengikuti kurikulum selama satu tahun dan berakhir dengan sebuah pameran.
        p Kelas diadakan setiap hari Rabu & Jumat dari 6:00-9:00.

      section
        h3 4. Shikei Goh
        p Fotografer Macro ini berasal dari kota Batam. Shikei Goh ini adalah fotografer kelas Dunia yang memenangkan kontes fotografi yang diadakan oleh "National Geogrphic" di seluruh Dunia. Lebih dari 20.000 foto dan 130 negara lebih yang ikut serta di kontes ini pada bulan januari 2012 silam, mulai dari fotografer Professional sampai yang Amatir, hanya 1 yang menjadi pemenang, yaitu foto "SPLASHING" foto macro capung karya Shikei Goh. Beliau menerima $ 10.000(USD) atau sekitar 91 juta rupiah dan perjalanan ke kantor pusat National Geographic di Washington, DC, untuk berpartisipasi dalam Seminar Nasional tahunan Fotografi Geographic pada bulan Januari 2012.
        p Sosok Shikei dalam dunia fotografi terbilang cukup singkat, bahkan tanpa mengikuti sekolah fotografi. Shikei cukup learn & share serta rutin mengadakan hunting bersama teman-teman komunitas fotografinya “Kongkow” dan learn and share di website fotografi lokal, nasional juga Internasional. Terbukti kesenioritasan dan pendidikan formal dalam fotografi tidaklah terlalu penting dalam meraih prestasi pada kancah fotografi. Keseriusan Shikei patut menjadi teladan bagi kita semua. Prestasi Shikei tentu membanggakan nama Indonesia umumnya dan Kepri khususnya  di kancah International sekelas NatGeo. Bangga, foto karya anak bangsa bisa jadi pemenangnya. Semoga para pemimpin negeri ini juga ikut serta memotivasi para fotografer lainnya di Kepri dengan mengadakan berbagai event fotografi. Karena potensi alam dan pariwisata Kepri bisa terekspose dengan cepat lewat bidikan fotografer,  yang merupakan andalan provinsi ini. Shikei telah membuktikannya. 

      section
        h2 Perbedaan Tukang Foto dengan Fotografer
        p Pada dasarnya istilah tukang foto dan fotografer sama saja, yaitu orang yang ahli dalam membuat foto. Tapi istilah tukang foto lambat laun menjadi menurun nilainya, sedangkan titel fotografer semakin keren dewasa ini.
        p Tukang foto juga lebih identik dengan orang-orang yang menjajakan jasa foto dengan tarif relatif murah, seperti yang kita lihat di kawasan wisata ataupun tukang foto di acara-acara sosial seperti pernikahan.
        h3 Lalu apa beda tukang foto dengan fotografer?
        p Kalau tukang foto lebih bersifat reaktif terhadap suatu keadaan, fotografer pendekatannya lebih berbeda. Seorang fotografer menghabiskan banyak waktunya tidak di dalam sesi pemotretan saja, tetapi sebagian besar lebih ke pembuatan konsep & ide, perencanaan, persiapan, dan setelah selesai foto, masih harus melakukan post-processing (editing), layout dan percetakan.
        p Banyak yang harus dipikirkan untuk menjadi fotografer, apalagi fotografer profesional yang bertarif tinggi. Ide kreatif, eksekusi dan hasil foto lah yang membuat seorang fotografer dibayar jauh lebih tinggi nilainya daripada aksi motret itu sendiri.


      section
        
        h1 TIPS MENGAMBIL FOTO YANG BAIK

      section
        p Mengambil gambar untuk mengabadikan momen dalam perjalanan adalah hal yang tak akan dilewatkan oleh semua pelancong. Namun, banyak juga wisatawan yang asal foto hingga gambar terlihat kurang bagus.
        p Chuck Delaney melalui bukunya Top Travel Photo Tips from Ten Pro Photographers memberikan beberapa tips mengambil gambar, seperti dilansir oleh USA Today (21/11), berikut ini.

      section
        ul
          li 1. Jangan hanya mengambil foto, tapi 'buat foto' dan rencanakan gambar apa yang ingin Anda ambil. Tak peduli ke manapun Anda pergi, Anda akan sangat bangga ketika mengambil foto yang bagus. - Michael Doven
          li 2. Angka ganjil lebih menarik daripada angka genap. Misalkan mengambil gambar tiga pohon secara landscape dibanding empat atau dua pohon akan lebih menarik. - Wendy Connett

          li 3. Pikirkan apa yang ada di belakang objek foto. Background juga sama pentingnya dengan apa yang menjadi fokus utama foto Anda. - Larry Louie
          li 4. Bangun hubungan dengan subyek foto melalui pembicaraan. Gunakan gestur jika Anda tak bisa bahasa mereka. Membangun hubungan dengan subyek bisa menghasilkan gambar yang hebat. - Chase Guttman
          li 5. Di tempat wisata populer, pergi pagi-pagi sekali ketika banyak orang lokal yang keluar, namun sebelum para turis berdatangan. - Mitchell Kanashkevich
          li 6. Latih kepekaan situasional untuk mengantisipasi hal-hal mendadak yang terjadi. Misalkan ketika memotret area ski dan salju, ambil gambar sebelum badai salju datang. - Marc Muench
          li 7. Sabar. Rencanakan gambar, bidik, kemudian ambil gambar ketika telah sesuai dengan gambaran yang diinginkan. - Nadia Shira
          li 8. Ketahui kamera Anda. Fotografer travel yang handal adalah seniman yang tahu cara membuat pemandangan menjadi indah serta 'geek' yang mengerti semua hal tentang kamera yang digunakannya. - Tom Robinson
          li 9. Foto menyimpan kenangan. Begitu juga fotografer yang bercerita melalui hasil bidikannya. Foto yang hebat adalah ketika kita sangat menyukainya karena sisi estetis dan makna di dalamnya. - Jesse Kalisher
          li 10. Ketika mengambil subyek yang bergerak, ikuti bersalam tubuh dan kamera saat mengambil gambar. Anda membuat gambar membeku ketika benda itu bergerak, namun background akan tampak berjalan, sehingga Anda bisa menangkap 'pergerakan' dan kecepatan benda. - Peter Guttman

      section
        h2 Definisi Fotografi
        p Dalam seni rupa, fotografi adalah proses pembuatan lukisan dengan menggunakan media cahaya. Sebagai istilah umum, fotografi berarti proses atau metode untuk menghasilkan gambar atau foto dari suatu obyek dengan merekam pantulan cahaya yang mengenai obyek tersebut pada media yang peka cahaya. Alat paling populer untuk menangkap cahaya ini adalah kamera. Prinsip fotografi adalah memfokuskan cahaya dengan bantuan pembiasan sehingga mampu membakar medium penangkap cahaya. Medium yang telah dibakar dengan ukuran luminitas cahaya yang tepat akan menghailkan bayangan identik dengan cahaya yang memasuki medium pembiasan (selanjutnya disebut lensa).


      section
        h2 JENIS-JENIS PHOTOGRAPHY
        h3  1. FOTO MANUSIA
        Foto manusia adalah semua foto yang obyek utamanya manusia, baik anak-anak sampai orang tua,
        muda maupun tua. Unsur utama dalam foto ini adalah manusia, yang dapat menawarkan nilai dan
        daya tarik untuk divisualisasikan. Foto ini dibagi lagi menjadi beberapa kategori yaitu :


      section
        h2 1.1 Portrait
        Portrait adalah foto yang menampilkan ekspresi dan karakter manusia dalam kesehariannya.
        Karakter manusia yang berbeda-beda akan menawarkan image tersendiri dalam membuat foto
        portrait. Tantangan dalam membuat foto portrait adalah dapat menangkap ekspresi obyek (mimic,
        tatapan, kerut wajah) yang mampu memberikan kesan emosional dan menciptakan karakter
        seseorang.

      section
        h2 1.2 Human Interest
        Human Interest dalam karya fotografi adalah menggambarkan kehidupan manusia atau interaksi
        manusia dalam kehidupan sehari-hari serta ekspresi emosional yang memperlihatkan manusia
        dengan masalah kehidupannya, yang mana kesemuanya itu membawa rasa ketertarikan dan rasa
        simpati bagi para orang yang menikmati foto tersebut

     
      
      section
        
        h2 1.3 Stage Photography
        Stage Photography adalah semua foto yang menampilkan aktivitas/gaya hidup manusia yang
        merupakan bagian dari budaya dan dunia entertainment untuk dieksploitasi dan menjadi bahan yang
        menarik untuk divisualisasikan.

      section
        h2 1.4 Sport
        Foto olahraga adalah jenis foto yang menangkap aksi menarik dan spektakuler dalam event dan
        pertandingan olah raga. Jenis foto ini membutuhkan kecermatan dan kecepatan seorang fotografer.
        dalam menangkap momen terbaik.

      section

        h2 2. FOTO NATURE
        Dalam jenis foto nature obyek utamanya adalah benda dan makhluk hidup alami (natural) seperti hewan, tumbuhan, gunung, hutan dan lain-lain.

      section
        ul
          li 
            h2 2.1 Foto Flora
          li
            Jenis foto dengan obyek utama tanaman dan tumbuhan dikenal dengan jenis foto flora. Berbagai jenis
            tumbuhan dengan segala keanekaragamannya menawarkan nilai keindahan dan daya tarik untuk
            direkam dengan kamera.
          li 
            h2 2.2 Foto Fauna
          li
            Foto fauna adalah jenis foto dengan berbagai jenis binatang sebagai obyek utama. Foto ini
            menampilkan daya tarik dunia binatang dalam aktifitas dan interaksinya.

      section

        h2 2.3 Foto Lanskap
        Foto lanskap adalah jenis foto yang begitu popular seperti halnya foto manusia. Foto lanskap
        merupakan foto bentangan alam yang terdiri dari unsur langit, daratan dan air, sedangkan manusia,
        hewan, dan tumbuhan hanya sebagai unsur pendukung dalam foto ini. Ekspresi alam serta cuaca
        menjadi moment utama dalam menilai keberhasilan membuat foto lanskap.

      section

        h2 3. FOTO ARSITEKTUR
        Kemanapun anda pergi akan menjumpai bangunan-bangunan dalam berbagai ukuran, 
        Kemanapun anda pergi akan menjumpai bangunan-bangunan dalam berbagai ukuran, bentuk,
        warna dan desain. Dalam jenis foto ini menampilkan keindahan suatu bangunan baik dari segi
        sejarah, budaya, desain dan konstruksinya. Memotret suatu bangunan dari berbagai sisi dan
        menemukan nilai keindahannya menjadi sangat penting dalam membuat foto ini. Foto arsitektur ini
        tak lepas dari hebohnya dunia arsitektur dan teknik sipil sehingga jenis foto ini menjadi cukup penting
        peranannya.

      section

        h2 4. FOTO STILL LIFE
        Foto still life adalah menciptakan sebuah gambar dari benda atau obyek mati. Membuat gambar dari
        benda mati menjadi hal yang menarik dan tampak “hidup”, komunikatif, ekspresif dan mengandung
        pesan yang akan disampaikan merupakan bagian yang paling penting dalam penciptaan karya foto
        ini. Foto still life bukan sekadar menyalin atau memindahkan objek ke dalam film dengan cara
        seadanya, karena bila seperti itu yang dilakukan, namanya adalah mendokumentasikan. Jenis foto ini
        merupakan jenis foto yang menantang dalam menguji kreatifitas, imajinasi, dan kemampuan teknis.

      section

        h2 5. FOTO JURNALISTIK
        Foto jurnalistik adalah foto yang digunakan untuk kepentingan pers atau kepentingan informasi.
        Dalam penyampaian pesannya, harus terdapat caption (tulisan yang menerangkan isi foto) sebagai
        bagian dari penyajian jenis foto ini. Jenis foto ini sering kita jumpai dalam media massa (Koran,
        majalah, bulletin, dll).

      section
        ul
          li 
            h2 Jenis Jenis Lensa 

          li
            h3 1. Lensa Zooming
          li
            Lensa Zooming adalah lensa yang memiliki Focal Length atau memiliki rentang focal yang bisa di putar di bodi lensa, yang bisa di zoom in dan zoom out,tujuan nya untuk memperbesar dan memperkecil objek yang ada di hadapan lensa tersebut. Lensa Zooming di bagi dalam beberapa kategori. Kelebihan dari lensa zoom adalah dalam hal kepraktisan karena dengan satu lensa bisa mendapatkan variasi fokal untuk kebutuhan fotografi dan perspektif yang diinginkan.

          li
            h3. 1.1 Zooming Standart
          li
            Adalah lensa yang biasa nya memiliki rentang focal antara 18-55mm. Untuk rentang nya ini bisa dikatakan sedang, cukup untuk memotret kebutuhan sehari hari. Seperti Weading, foto model, foto dalam ruangan,acara atau even even dan lain sebagainya. Lensa ini kebanyakan dijual per paket bersama kamera nya.
          li
            h3 1.2 Zooming Wide
          li
            Adalah lensa yang biasa nya memiliki rentang fokal yang rendah 10-20mm, 11-16mm, 16-35mm dan bervariasi lain nya tergantung dari brand masing masing. Lensa Wide ini di khusus kan untuk para fotografer Lanskap/Lanscape atau para pemburu Panorama alam, keindahan alam. Dengan rentang fokal yang cukup rendah lensa dapat menangkap foto dengan rentang yang jauh sehingga seluruh sudut pandang Lanscape dapat di tangkap.
          li
            h3 1.3 Zooming Tele
          li
            Adalah lensa yang memiliki rentang fokal yang jauh, biasanya antara 70-300mm,70-200, 100-400mm, 60-135mm, 135-300 dan lainya tergantung dari brand masing masing. Lensa ini biasa nya di gunakan para fotgrafer Sport, fotografer Birding, Fotografer Wild, Fotografer Model. Dengan rentang fokal yang begitu besar kita dapat menjangkau objek yang sangat jauh. Kelebihan lensa ini memiliki tingkat bokeh(blur background) yang lumayan tinggi,makanya banyak juga fotografer model/fashion menggunakan lensa ini. 

      section
        ul
          li
            h3 2. Lensa Fix / Prime
          li
            Lensa Fix adalah sebutan lensa yang hanya memiliki satu focal length saja. Lensa ini tidak memiliki ring untuk di putar zoom in dan zoom out. Misal nya Lensa fix 50mm, lensa fix 35mm, lensa fix 85mm dan lain lain. Kelebihan dari lensa ini adalah biasanya lensa yang memiliki singgle focal length memiliki bukaan aperture yang besar (f/1.8,f/1.4). Dengan bukaan aperture yang besar membantu para fotografer ketika memotret di kondisi yang kurang cahaya, dan cocok untuk foto model karena memiliki bokeh yang luar biasa.
          li
            h3 3. Lensa Makro
          li
            Lensa Macro adalah lensa yang dibuat secara khusus untuk memotret objek objek yang sangat kecil dan detail, seperti serangga kecil, tetesan embun, dan bidang detail lainya. Lensa makro ini ada yang bisa zooming dan ada juga yang fix, misalnya 100mm Macro, 30-50mm Macro. Kelebihan lensa ini fotografer dapat membidik objek ddengan jarak yang sangat dekat dan tidak mem blur kan objek.
          li
            h3 4. Lensa FishEye 
          li
            Lensa fisheye merupakan jenis lensa ultra wide-angle yang menghasilkan distorsi visual yang disengaja untuk menghasilkan foto lebar panoramik atau hemisperik. Atau dengan kata sederhana lensa fisheye ini dapat membuat objek menjadi cembung dan unik. Biasa nya lensa ini digunakan untuk keperluan khusus dan Lanscape.

      section

        h2 TEKNIK DASAR DAN PRO UNTUK PEMOTRETAN

      section

        h2 ZOOMMING
        Zooming adalah kreatif pemotretan dengan memanfaatkan fasilitas ring zoom pada lensa kamera.
        Zoom in adalah membuat gambar obyek tampak lebih mendekat sedangkan zoom out adalah
        membuat gambar obyek tampak lebih menjauh. Dalam pengaturan speed dan penggunaan zoom
        yang tepat akan memberikan efek motion (gerak) pada hasil foto.Bahan-Bahan,Kamera,tripod,filter radial zoom

      section

        h2 Panning

        P Panning adalah teknik kreatif pemotretan untuk mendapatkan efek gerak pada obyek
        yang bergerak(balap motor,orang berlari,dll).hasil panning adalah adanya efek motion(gerak)pada latar belakang(background).Bahan-bahan,kamera,tripod

      section

        h2 Double/multi Ekspose
        P Adalah teknik pemotretan dengan mengkombinasikan beberapa perekam imaji/gambar dalam satu bingkai frame
        tenik ini membutuhkan penuangan kreatifitas,ide,konsep dan pemahaman komposisi serta pencahayaan.Bahan-Bahan,kamera,filter multi ekspose

      section

        h2 BULB
        P Bulb adalah proses pemotretan dengan memanfaatkan fasilitas bulb pada kamera,fasilitas bulb pada kamera memberikan keleluasaan dalam menentukan beberapa lama rana terbuka untuk prosespembakaran.
        bila kita memotret pada kondisi cahaya yang minim atau sanagat kurang(pada malam hari),dan prioritas speed-
        tidak mampu lagi mendapatkan pencahayaan normal maka fasilitas bulv pada kamera akan sangat membantu.untuk menghindari goncangan(shaking),a;at bantu tripod dan kabel release sangat di butuhkans.Bahan-bahan:kamera,tripod,kabel release

      section

        h2 SILUET
        P Siluet adalah teknik pemotretan untuk gambar obyek dalam keadaan gelap.
        teknik ini memanfaatkan sumber cahaya yang berasl dari balik obyek yang akan kita potret.
        teknik ini membutuhkan keteopatan pencahayaan agar obyek yang kita rekam tetap tampil dengan kontur dan ketajaman yang tepat.Bahan-bahan:kamera

      section

        h2 MAKRO
        P Makro adalah kreatif dalam pemotretan dan menggunakan lensa makro untuk mendapatkan gambar obyek yang dekat sekali.
        foto makro juga di gunakan untuk mendapatkan detail dan tekstur pada obyek yang kita potret.
        Dalam pemotretan makro ruang tajam akan menjadi sempit sekali karenah oleh itu di butuhkan ketepatan pencahayaan dan focusing.ketika  tidak ada lensa makro untuk melakukan  pemotretan ini kita dapat mensiasatinya denganmembalik lensa normal untuk pemotretan makro.Bahan-bahan:kamera,lensa makro,filter close-up

      section

        h2 FRAMMING
        P Framming adalah kreatif pemotretan dengan memanfaatkan unsur lain pada obyek yang kita potret
        sehingga membentuk kesan frame/bingkai tersendiri untuk menambah nilai keunikan dan menarikserta memperkuat kesan foto secara visual.Bahan-bahan:kamera

      section

        h2 STROBIS
        P Strobist adalah teknik pemakaian flash secara external, jadi tidak digunakan diatas hotshoe kamera,
        melainkan dengan bantuan trigger, atau Flash yang bisa digunakan sebagai master
        Alat wireless.
        trigger ini umumnya menggunakan gelombang radio atau sinar infra merah untuk menyalakan flash
        slave (flash lain harus mengikuti pada flash utama)
        Keuntungan dengan menggunakan teknik ini kita
        bisa memposisikan satu atau lebih flash di mana saja untuk mengatur arah, intensitas, cahaya untuk
        menghasilkan foto yg kita inginkan,Bahan-bahan:Triger,flash,kabel wifi yang di hubungkan dengan laptop

      section
        h2 Edit foto yang baik
        P 1 Untuk foto travel / jalan-jalan, editing yang sukses adalah bisa memberikan kesan suasana atau model atau mood tertentu.
        2 Untuk foto potrait/model, editan yang bagus mempertimbangkan karakter subjek yang di foto, dan keseluruhan suasana foto baik subjek maupun latar belakang.

      section
        ul 
          li
            h2 Tips membeli kamera DSLR yang baik
          li
            p
            h3 1 Kebutuhan dan Budget
          li
            Membeli kamera DSLR sesuai dangan kebutuhan adalah hal yang bijak. Jangan memaksakan diri membeli yang canggih fiturnya padahal kita tidak membutuhkan fitur tersebut untuk keseharian.Untuk pemula disarankan untuk mencari dengan budget tidak terlalu mahal. Agar kelak jika sudah mahir baru mencari yang handal.
          li
            P 
            h3 2. Sensor 
          li
            Perhatikan Ukuran sensor yang di gunakan untuk menangkap gambar Walaupun banyak sekali variasi ukuran, umumnya terbagi dalam tiga katagori yaitu FullFrame, APS-C dan Four-Thirds.
          li
            P 
            h3 3. ISO
          li 
            Fitur lainnya pada kamera DSLR yang mungkin di perhatikan adalah pengaturan ISO untuk memotret di tempat gelap. ISO ini berkaitan dengan tingkat sensitif sensor pada kamera terhadap cahaya.
          li
            P 
            h3 4. Ukuran dan Model 
          li
            ukuran kamera DSLR memang sangat besar dan tidak seperti kamera digital biasa. Namun ada pula beberapa kamera DSLR yang ringan dan bisa di bawa kemana-mana dengan bentuk kecil.
          li
            p 
            h3 5. Fitur 
          li
            Resolusi Megapixel apabila berencana ingin mencetak foto dalam ukuran besar, sebaiknya membeli kamera dengan resolusi besar sehingga hasil cetakan foto juga bisa maksimal sesuai yang diinginkan.

      section
        ul
          li
            h2 Memahami Mode Di Kamera Digital
          li
            p Pada kamera digital terdapat mode mode pilhan yang di ciptakan oleh pabrikan kamera, yang bertujuan untuk mengambil gambar dengan kebutuhan khusus. Contoh mode mode pada kamera digital adalah Auto,Sport,Macro,Aperture Priority,dll. Mungkin untuk di kamera sejenis pocket mode kamera nya tidak se komplek pada kamera DSLR, tetapi untuk jenis kamera pocket yang canggih mungkin akan sama seperti yang ada di kamera DSLR.
          li
            p
            h3 1. AUTO
          li
            p Jika kita dengar kata "Auto", kita langsung berfikir tentang hal hal yang serba otomatis. Begitu juga di mode ini, di mode Auto ini kamera sendiri akan men set settingan di kamera secara otomatis, kamera akan mengatur ISO, Aperture, Shutter Speed berdasarkan sensor yang ada pada kamera tersebut. Kamera akan membaca keadaan di sekitar nya, jika cahaya di sekeliling nya terang maka kamera akan men set ISO serendah mungkin dan menaikkan shutter speed untuk mengoptimalkan hasil gambar. Begitu juga sebaliknya jika cahaya disekitar gelap makan kamera akan secara otomatis mengaktifkan blits/flash yang ada pada kamera untuk hasil gambar yang optimal.
          li
            p
            h3 2. Sport
          li
            p Mode Sport ini memaksa kamera untuk dapat membaca objek yang bergerak cepat dan membekukan objeknya supaya objek tidak goyang atau blur. Di mode ini kamera akan selalu men set Shutter Speed setinggi mungkin sesuai kemampuan dari kamera dan lensa. Dan membuak Aperture sebesar mungkin. Contoh jika dalam balapan kita set ke mode sport maka Kamera memerintahkan agar shutter speed di atur 1/1000s dan Aperture f/3.5(tergantung jenis lensa). Tetapi kekurangan mode ini jika cuaca tidak cerah maka hasil gambar akan menjadi gelap.
          li
            p
            h3 3. Potrait
          li
            p Mode Potrait ini di symbolkan dengan wajah manusia pada tombol program mode nya, mode ini lebih cocok kalau anda ingin memfoto model,wajah manusia, kulit dan manusia itu sendiri atau lebih ke foto potrait. Pada mode ini kamera bekerja secara otomatis mengatur settingan kamera untuk mendapatkan warna tone kulit yang alami dan lembut, kamera juga secara otomatis mengenali wajah manusia dengan algoritma yang sudah terdapat pada seluruh kamera canggih dan professional.

      section
        ul
          li
            p
            h3 4. Lanskap/Lanscape
          li
            p Pada mode Lanskap ini biasanya di symbolkan dengan gambar gunung. Yap.. mode ini tidak lain dan tidak bukan di peruntukkan untuk memfoto pemandangan alam atau lebih ke foto Natural. Di mode ini kamera di paksa secara otomatis mengatur tone warna untuk Nature atau alam, kamera akan mengatur white balance untuk Natural atau Vivid(terang), agar dedaunan kelihatan hijau, serta laut dan langit yang biru. Kamera akan men set se natural mungkin hasil foto agar sama percis dengan pengelihatan mata kita di alam bebas dengan yang di lcd kamera.
          li
            p
            h3. 5. Macro
          li
            p Di mode Macro dilambangkan dengan bunga dan daun nya, mode macro ini lebih di peruntukkan untuk memfoto bidang bidang yang kecil dan detail, seperti serangga, kelopak bunga, karatan besi, tetesan embun/air. Di sini kamera di paksa secara otomatis untuk membuka Aperture paling besar yang dimiliki si lensa, misal f/1.8, f/2.0, f/3.5 (tergantung jenis lensa yang digunakan). Dengan aperute besar kamera mampu memfoto objek yang kecil dan detail dengan tidak blur. Mode ini cocok untuk fotografer Macro.
          li
            p
            h3. 6. Program Mode (P)
          li
            p Mode ini biasanya di symbolkan dengan huruf "P", Program Mode ini biasa nya hanya terdapat di kamera kamera yang sudah high end, misal kamera Prossumer,SLR, DSLR. Dalam program mode, kamera secara otomatis akan menentukan Aperture dan Shutter Speed untuk kita berdasarkan jumlah cahaya yang masuk melalui lensa. Jika anda menemukan momen yang penting dan tidak ingin berpikir apa-apa langsung jepret, gunakan mode ini. 
            p Kamera akan berusaha menyeimbangkan antara shutter dan aperture, jika kita mengarahkan lensa ke area yang terang, angka aperture secara otomatis membesar sementara shutter speed dipertahankan di angka yang lumayan cepat. Arahkan kamera ke area gelap dan angka aperture akan mengecil untuk mempertahakan shutter supaya tidak terlalu blur. Ada cara untuk mengubah pengukuran otomatis kamera, dengan memutar kontrol dial di kamera. Jika kita putar dial ke kiri maka kamera akan “dipaksa” memperlambat shutter speed dan menambah aperture. Jika memuter dial ke kanan, kamera akan “dipaksa” mempercepat shutter speed dan memperkecil aperture.

      section
        ul
          li
            p
            h3. 7. Shutter-Priority Mode (S atau Tv)
          li
            p Sama dengan Mode P diatas,mode ini hanya dimiliki kamera yang professional. Biasanya disymbolkan dengan "S / Tv", "S" pada kamera brand "NIKON" dan "Tv" pada kamera brand "CANON". Di mode ini, kita menentukan nilai shutter speed, lalu kamera menentukan bukaan lensa. Setting ini dipakai kalau kita ingin mendapatkan efek freeze (beku) atau efek motion (gerak).Kalau kita set shutter speed cepat seperti 1/500 detik, maka hasilnya gerakan orang atau benda yang sedang bergerak menjadi beku, sebaliknya kalau kita set 1/15 detik atau lebih rendah lagi benda/orang yang bergerak, maka kita akan menangkap motion blur. Teknik ini cocok untuk merekam gerakan air di pantai, gerakan air terjun ataupun merekam cahaya mobil yang lewat di malam hari. Seperti aperture, shutter speed juga mempengaruhi banyak sedikitnya cahaya yang masuk.
            p Masalah yang sering timbul adalah kamera tidak menemukan setting bukaan yang pas. Jika itu terjadi, foto akan gelap atau terlalu terang. Jika kamera memberikan tanda-tanda seperti kedap-kedip, evaluasi lagi nilai shutter speed dan ISO yang digunakan.
          li
            p
            h3. 8. Aperture-Priority Mode (Av atau A)
          li
            p Mode ini disymbolkan dengan "Av atau A", Av untuk Canon dan A untuk Nikon. Di mode aperture priority, kita set besaran aperture secara manual dan kamera akan menentukan besar shutter speed sesuai jumlah cahaya yang masuk lensa. Dengan menggunakan mode aperture priority, kita memiliki kontrol penuh atas depth of field (bidang tajam), karena kita bisa menurunkan atau menaikkan bukaan lensa dan membiarkan kamera yang menghitung shutter speed. Menggunakan mode aperture priority adalah cara aman dalam mengoperasikan kamera karena resiko foto menjadi under-exposed (gelap) atau over-exposed (terlalu terang) lumayan kecil. Kenapa? karena nilai shutter kamera range-nya lumayan lebar, dari 30 detik sampai 1/4000 detik (atau 1/8000 detik dikamera canggih), yang mana sangat mencukupi untuk berbagai kondisi cahaya. Mode ini juga hanya dimiliki oleh kamera kamera yang high end atau yang professional. Mode ini sebenarnya cocok untuk anda yang suka memfoto background menjadi blur atau "bokeh". seberapa tingkat blur atau bokeh nya background yang ingin anda dapatkan, tergantung jenis lensa yang anda gunakan, jika anda ingin bokeh yang creamy atau blur yang luar biasa gunakanlah Lensa dengan bukaan Aperture sebesar mungkin misal, Nikkor AFS 50mm f/1.4 (untuk Nikon).

      section
        ul
          li
            p
            h3 9. Manual Mode (M)
          li
            p Mode ini biasnya di symbolkan dengan "M" baik Nikon maupun Canon, Seperti namanya, kita mengontrol nilai aperture dan shutter speed kamera secara manual sepenuhnya. Anda harus memilih nilai aperture sekaligus shutter speed. Mode ini bisa dipakai saat memotret obyek foto yang kondisi pencahayaan-nya membuat kamera “bingung”. Contohnya adalah saat kita memotret teman di pantai yang sangat terang, kamera mungkin akan salah menilai exposure sehingga wajah teman jadi hitam supaya pasir dipantai tidak over-exposed. Dalam kasus seperti ini, kita bisa mengganti mode menjadi manual dan melakukan metering dengan mengukur exposure di wajah teman lalu menentukan aperture serta shutter speed secara manual berdasarkan hasil metering tadi. Mode manual juga berguna saat misalnya kita memotret panoramasupaya terjadi konsistensi. Foto panorama dihasilkan dari beberapa foto yang dijahit, dan nilai aperture maupun shutter speed sebaiknya selalu konsisten sehingga hasil akhir foto panorama akan konsisten tidak belang-belang ada yang gelap dan ada yang terang. Cocok juga untuk kondisi ruangan / lingkungan berganti2 intensitas cahayanya sehingga membingungkan kamera. Contoh = seperti di konser, lampunya menyala dengan intesitas dan arah yang berubah-ubah, kadang sangat terang, kadang sangat gelap. Mode ini pun hanya di miliki oleh kamera yang high end atau yang professional.

            p Untuk ke empat mode terakhir mungkin anda bingung bagaimana cara menggunakanya, untuk lebih menguasai ke empat mode terakhir ini  anda harus menguasai yang nama nya konsep "Segitiga Eksporsure", disini akan dibahas bagaimana cara kerja ISO, bagaimana Shutter-Speed bekerja, serta bagaimana Aperture/Bukaan Diagfragma bekerja pada lensa kamera. Perlu anda ketahui juga bahwa ketiga elemen penting ini saling terhubung dan membentuk 1 rumus yang di gunakan para fotografer handal untuk mendapatkan hasil foto yang luar biasa.

<<<<<<< HEAD
      section
        ul
          li
            P
            h2 Pengenalan Jenis-Jenis Kamera dan Historinya
          li
            P
            h3 Penemuan Kamera pertama di dunia
          li
            P Kamera merupakan alat yang dapat paling populer dalam dunia fotografi.Penemu kamera pertama adalah Ibnu al-Haitham beliau adalah seorang muslim.Penemuan al-haitham ini jauh sebelum dunia barat mengenal kamera.Peletak kamera itu adalah seorang saintis legendaris musim.Pada akhir abad ke -10 M,Al-haitham berhasil menemukan kamera obscura .Al-haitham lahir di basra 965-1039 M.Penemuan yang dilakukannya bersama Kamaluddin al-Farisi.Penemuan itu berawal ketika keduanya mempelajari fenomena gerhana matahari,al-Haitham membuat lubang kecil pada dinding yang memungkinkan citra matahari semi nyata diproyeksikan melalui permukaan datar.kemudian kamera tersebut lebih di kenal dengan sebutan kamera obscura atau kamera gelap.
=======
      section 
        h2 Pengenalan Jenis-Jenis Kamera dan Historinya

        h3 Penemuan Kamera pertama di dunia 
        P Kamera merupakan alat yang dapat paling populer dalam dunia fotografi.Penemu kamera pertama adalah Ibnu al-Haitham beliau adalah seorang muslim.Penemuan al-haitham ini jauh sebelum dunia barat mengenal kamera.Peletak kamera itu adalah seorang saintis legendaris musim.Pada akhir abad ke -10 M,Al-haitham berhasil menemukan kamera obscura .Al-haitham lahir di basra 965-1039 M.Penemuan yang dilakukannya bersama Kamaluddin al-Farisi.Penemuan itu berawal ketika keduanya mempelajari fenomena gerhana matahari,al-Haitham membuat lubang kecil pada dinding yang memungkinkan citra matahari semi nyata diproyeksikan melalui permukaan datar.kemudian kamera tersebut lebih di kenal dengan sebutan kamera obscura atau kamera gelap.
>>>>>>> e53edfaefb30d08f98cc4c7a0701c1086897921f

      section
        ul
          li
            P
            h2 Jenis kamera berdasarkan media penagkap cahaya
          li
            P
            h3 Kamera polaroid
          li
            P Polaroid di dirikan pada tahun 1937 oleh Land H.Edwin.Hal ini paling terkenal untuk kamera instan film,yang mencapai pasar pada tahun 1948, dan terus menjadi andalan lini produk perusahaan.

          li
            P
            h3 Kamera digital
          li
            P Kamera ini merupakan kamera yang dapat bekerja tanpa menggunakan film, Si pemotret dapat dengan mudah menangkap suatu objek tanpa harus susah-susah membidiknya melalui jendela pandang karena kamera digital sebagian besar memang tidak memilikinya. Sebagai gantinya, kamera digital menggunakan sebuah layar LCD yang terpasang di belakang kamera.Lebar  layar LCD pada setiap kamera digital berbeda-beda. Sebagai media penyimpanan, kamera digital menggunakan Internal memory ataupun external memory.
          li
            P
            h3 Kamera prosumer
          li
            P Kamera prosumer terdiri dari dua jenis, yaitu Kamera prosumer berbentuk kamera digital SLR (DSLR-like) yang juga disebut Brige Camera dengan lensa tetap yang tak dapat di lepas. sedangkan MLIC walaupun lensanya dapat di lepas. Tetapi tidak memiliki Cermin Reflex dan tentunya juga tidak memiliki Optical Viewer dan sebagainya di pakai Electronical Viewefinder atau layar LCD saja.Disebut Brige Camera, karena pada awalnya sebagai jembatan antara kamera saku digital dengan Kamera digital SLR, memiliki mode PSAM (Program, Speed, Aperture/Diafragma dan Manual), seperti halnya Kamera digital DSLR.
          li
            P
            h3 Kamera DSLR 
          li  
            P Pecinta fotograpi tentunya sudah mengenal apa itu kamera DSLR.Akan tetapi, Tidak semua dari mereka mengetahui sejarah dari kamera DSLR tersebut.Sejarah Fotography tidak terlepas dari perkembangan teknologi vidio tape recorder atau VTR. Dua produk ini harus disandingkan lantaran mereka mamiliki titk perkembangan yang hampir sama. Pada tahun 1951, orang-orang mengenal video tape recorder sebagai alat.perekam gambar.Pada tahun 1981, Mavica di perkenalkan sebagai kamera elektronik yang di jual secara bebas. kodak pun tidak mau kalah dari sony tahin 1970 an menjadi eranya kodak. Hal ini dikarenakan kodak mampu mengembangkan teknologi terbaru pada waktu yaitu tentang sholidnya state dan jernihnya gambar.Pada saat ini, kodak secara agresif memperkenalkan tentang digital fotograpi kepada khalayak ramai.

      section
        ul
          li
            P
            h2 Jenis Kamera berdasarkan teknologi Viewfinder
          li
            P
            h3 Kamera Pocket / Kamera Saku
          li
            P Jenis kamera yang paling banyak digunakan orang. Kebanyakan menggunakan setelan serba otomatis atau memiliki sedikit setelan manual. Cahaya yang melewati lensa langsung membakar media penangkap gambar. Kelemahan dari kamera ini adalah lensa tidak bisa diganti, selain itu adalah gambar yang terlihat oleh mata melalui viewfinder/jendela bidik akan berbeda dengan hasil Foto yang didapat karena ada perbedaan antara pandangan pemotret dengan pandagan lensa. Perbedaan tersebut disebut Paralaks.
          li
            P
            h3 Kamera TLR (Twin Lens Reflex)
          li
            P Disebut juga kamera refleks lensa ganda. Jendela bidik/Viewfinder yang diberikan lensa identik dengan lensa di bawahnya. Kesalahan paralaks masih ditimbulkan sebab sudut dan posisi kedua lensa tidak sama.
          li
            P
            h3 Kamera SLR (Single Lens Refleks)
          li
            P Untuk kamera digital biasa disebut Kamera DSLR. Kamera jenis ini sangat populer digunakan fotografer profesional. amatir maupun yang sekedar menyalurkan hobi. Kesalahan paralaks tidak terjadi pada kamera jenis ini karena memiliki cermin datar dengan singkap 45 derajat di belakang lensa, sehingga apa yang terlihat oleh pemotret dari jendela bidik sama dengan yang ditangkap oleh film. Kelbihan lain dari kamera ini adalah lensa yang dapat di ganti.

      section

        h2 Aksesoris-aksesoris Pada Kamera DSLR Yang sangat Berguna Untuk Mendapatkan Hasil Yang Sempurna
        h3 Camera Case
        p Tas adalah salah satu aksesori wajib yang harus dimiliki pengguna DSLR, banyak sekali fungsi tas ini diantaranya adalah melindungi kamera dan berbagai
        p accessories lain, sebagai tempat untuk menampung kamera dll dikala bepergian atau dirumah sekalipun. Tas dapat menampung antara lain  Baterai
        p cadangan, kartu memori, lensa, cleaning kit, card reader, flash, dan masih banyak lagi. Sebelum memutuskan untuk membeli tas, ketahuilah terlebih dahulu
        p kebutuhan anda, pilihlah tas yang didalamnya terdapat banyak padding dan memiliki proteksi eksternal.

      section
        h3 Baterai
        p Baterai merupakan sumber energi yang digunakan untuk mengoperasikan kamera DSLR. Pilihan baterai saat ini sangatlah beragam, diantaranya adalah
        p Baterai rechargable NI-MH dan NI-Cd ataupub baterai tipe AA.

      section
        h3 Charger
        p Charger Membawa charger saat bepergian sangatlah penting, hal ini dapat menghindari kehabisan daya pada kamera. Umumnya baterai kamera DSLR saat ini

      section
        h2 Flash
        p Flash sangat berguna disaat kita melakukan pengambilan gambar dalam posisi low light atau kurang cahaya. Kondisi yang mempengaruhi minimnya
        cahaya sangat beragam diantaranya adalah waktu, cuaca, tempat dll, dan dengan meggunakan flash kita dapat menyiasati hal tersebut. Flash dapat
        digunakan dalam mode manual atau dalam mode auto, semua tergantung keahlian kita karena menggunakan flash juga dibutuhkan pengetahuan khusus,
        Gunakan mode auto apabila pencahayaan minim, flash akan on secara otomatis
        Flash on, biasanya digunakan untuk fill in, atau menerangi objek dan mengimbangi cahaya dari latar yang terang
        Flash off, pada kondisi kurang cahaya akan menghasilkan gambar yang natural
        Gunakan Slow Sync untuk mengurangi bayangan objek saat menggunakan flash
        Gunakan red eye reduction untuk menghindari mata manusia yang berwarna merah
        Gunakan Fitur Slow Sync flash untuk mendapatkan efek khusus saat pencahayaan malam hari
        Kamera Stand
        Aksesori ini digunakan

      section
        h2  Shutter Release
        p Shutter release adalah aksesori wajib bagi para fotografer, dengan menggunakannya kita tidak perlu memencet tombol shutter yang kadang menimbulkan getaran/goyangan sehingga gambar yang dihasilkan kurang maksimal. Shutter release tersedia dalam dua jenis yakni kabel dan wireless yang bisa

      section
        h2 filter
        p Beberapa pilihan filter dapat digunakan untuk mendapatkan gambar dengan mood tertentu.Filter yang paling umum dipakai adalah filter UV atau Ultra
        Violet yang berfungsi untuk menyaring sinar Ultra Violet agar gambar yang dihasilkan lebih cerah sekaligus untuk melindungi lensa kamera dari goresan
        Beberapa filter lain yang lazim digunakan kamera DSLR adalah, yang juga merupakan filter utama untuk fotografi landscape

      section
        h2 filter polarizer
        p Filter ini digunakan untuk meredam pantulan cahaya (non metal) yang biasanya digunakan untuk memotret objek didalam aquarium
        h3 Filter Neutral Density (ND)
        p Filter ini mampu meredam cahaya yang sangat kuat, sebagai contoh saat digunakan memotret objek dengan kecepatan tinggi pada siang hari yang terik
        h3 Flter Graduated ND (GND)
        p Filter ini juga disebut filter sebagian yang berfungsi meredam intensitas cahaya sebagaian. Filter ini mempunyai keunikan khusus yakni memiliki gradasi dari
        gelap ke terang jadi saat kita memotret pemandangan bisa digunakan filter GND dengan posisi pekat dibagian atas sehingga cahaya pada objek



      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
    header
      nav
        ul
          li
            a(href='#') Pilih Topik
            ul
                li
                  a(href='Sejarah_Photography.html') Sejarah Photography
                li
                  a(href='Jenis-jenis Photography.html') Jenis-jenis Photography
                li
                  a(href='Istilah Dasar Dalam Photography.html') Istilah Dasar Dalam Photography
