doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tes Presentasi

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    
    article


      section
        
        h1 PHOTOGRAPHY

      section
        h2 Definisi Fotografi
        p Dalam seni rupa, fotografi adalah proses pembuatan lukisan dengan menggunakan media cahaya. Sebagai istilah umum, fotografi berarti proses atau metode untuk menghasilkan gambar atau foto dari suatu obyek dengan merekam pantulan cahaya yang mengenai obyek tersebut pada media yang peka cahaya. Alat paling populer untuk menangkap cahaya ini adalah kamera.
          Prinsip fotografi adalah memokuskan cahaya dengan bantuan pembiasan sehingga mampu membakar medium penangkap cahaya. Medium yang telah dibakar dengan ukuran luminitas cahaya yang tepat akan menghailkan bayangan identik dengan cahaya yang memasuki medium pembiasan (selanjutnya disebut lensa).


      section
        h2 JENIS-JENIS PHOTOGRAFHY
        h3 1. FOTO MANUSIA
        Foto manusia adalah semua foto yang obyek utamanya manusia, baik anak-anak sampai orang tua,
        muda maupun tua. Unsur utama dalam foto ini adalah manusia, yang dapat menawarkan nilai dan
        daya tarik untuk divisualisasikan. Foto ini dibagi lagi menjadi beberapa kategori yaitu :


      section
        h2  Portrait
        Portrait adalah foto yang menampilkan ekspresi dan karakter manusia dalam kesehariannya.
        Karakter manusia yang berbeda-beda akan menawarkan image tersendiri dalam membuat foto
        portrait. Tantangan dalam membuat foto portrait adalah dapat menangkap ekspresi obyek (mimic,
        tatapan, kerut wajah) yang mampu memberikan kesan emosional dan menciptakan karakter
        seseorang.

      section
        h2 Human Interest
        Human Interest dalam karya fotografi adalah menggambarkan kehidupan manusia atau interaksi
        manusia dalam kehidupan sehari-hari serta ekspresi emosional yang memperlihatkan manusia
        dengan masalah kehidupannya, yang mana kesemuanya itu membawa rasa ketertarikan dan rasa
        simpati bagi para orang yang menikmati foto tersebut

     
      
      section
        
        h2 Stage Photography
        Stage Photography adalah semua foto yang menampilkan aktivitas/gaya hidup manusia yang
        merupakan bagian dari budaya dan dunia entertainment untuk dieksploitasi dan menjadi bahan yang
        menarik untuk divisualisasikan.

      section
        h2 Sport
        Foto olahraga adalah jenis foto yang menangkap aksi menarik dan spektakuler dalam event dan
        pertandingan olah raga. Jenis foto ini membutuhkan kecermatan dan kecepatan seorang fotografer
        dalam menangkap momen terbaik.

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
    nav
      ul
        li
          a(href='#') Pilih Topik
          ul
              li
                a(href='#') 1
              li
                a(href='#') 2