doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Photography

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    
    article


      section
        h1  Istilah Dasar Dalam Photography

      section
        ul
          li 
            h2 Aperture
          li Bukaan lensa yang ukurannya dikontrol oleh diafragma. Istilah ini juga biasanya disebut f/stops, misalnya f/4, f/5.6 dan seterusnya yang diukur dengan membagi focal length lensa dengan diameter aperture. Jadi, f/11 pada lensa dengan focal length 110mm berarti bukaan lensanya 10mm. Semakin besar bukaannya, semakin rendah angka f-nya, dan semakin banyak cahaya yang masuk melalui lensa. Setiap langkah dalam aperture berarti membagi dua jumlah cahaya. Jadi, f/8 akan memasukkan cahaya setengah dari f/5.6 dan dua kali lebih banyak daripada f/11.
          li
            h2 Aperture Priority
          li Ini adalah mode pada kamera dSLR dimana fotografer bisa memilih angka aperture dan kamera menentukan pengaturan lainnya yang sesuai. Pada kamera Nikon dilambangkan dengan huruf A dan pada Canon dengan AV.
          li 
            h2 Autofokus
          li Cara menemukan titik fokus secara otomatis. Ditentukan oleh lensa kamera yang akan mendeteksi letak objek yang akan dibidik. Pada kamera dSLR dilambangkan dengan AF.
          li
            h2 Auto mode
          li Dilambangkan dengan warna hijau pada kamera. Mode pemotretan dimana kamera yang menentukan semua pengaturan. Fotografer tinggal membidik dan menekan tombol shutter. Mode ini biasanya digunakan pada kamera digital saku.
          li
            h2 Bulb
          li Pengaturan shutter yang berarti shutter akan terus terbuka selama tombol shutter belum ditekan. Biasanya digunakan untuk foto malam hari dengan cahaya rendah.
          li 
            h2 Background
          li Bagian pada sebuah foto yang terletak di bagian belakang objek utama. Background bisa dibuat tajam atau tidak melalui teknik pemilihan fokus dan manipulasi depth of field.

      section
        ul
          li
            h2 Backlight
          li Pencahayaan yang datang dari bagian belakang objek berdasarkan posisi kamera. Biasanya objek yang diberi cahaya backlight akan tampak gelap kecuali sebagian dari objek diberi cahaya lewat lampu atau fill-flash. Backlight yang sempurna akan menghasilkan siluet.
          li
            h2 Blur
          li Bagian yang tidak tajam pada sebuah foto akibat gerakan kamera atau objek saat exposure. Blur bisa dimanfaatkan untuk banyak efek kreatif. Pada olah digital, penggunaan efek Blur dipilih untuk melembutkan beberapa bagian pada foto.
          li
            h2 Brightness
          li Terang atau gelapnya objek. Jumlah brightness pada objek tergantung pada seberapa banyak cahaya meneranginya dan diukur dengan istilah EV pada kamera, yaitu kombinasi dari aperture dan shutter speed.
          li
            h2 Bokeh
          li Teknik mengaburkan bagian background pada foto secara artistik, biasanya pada titik-titik cahaya yang akan membentuk lingkaran-lingkaran lembut.
          li
            h2 Cable release
          li Sebuah kabel yang tersambung ke tombol shutter pada kamera yang ujung lainnya adalah tombol pengganti. Digunakan untuk mencegah terjadinya goyangan pada kamera saat tombol shutter ditekan. Cocok digunakan untuk long exposure.
          li 
            h2 Close-up
          li Foto yang dibuat dengan jarak lebih dekat dari pandangan normal. Foto close-up biasanya akan menampilkan detil dari objek-objek yang kecil.
          li
            h2 Crop
          li Pemilihan sebagian dari sebuah foto penuh melalui program editor foto pada komputer. Ini akan memotong foto aslinya ke bagian yang dipilih oleh fotografer.


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
    header
      nav
        ul
          li
            a(href='#') Pilih Topik
            ul
                li
                  a(href='Sejarah_Photography.html') Sejarah Photography
                li
                  a(href='Jenis-jenis Photography.html') Jenis-jenis Photography
                li
                  a(href='Istilah Dasar Dalam Photography.html') Istilah Dasar Dalam Photography
