doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Photography

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    
    article


      section
        h1  Istilah Dasar Dalam Photography

      section
        ul
          li 
            h2 Aperture
          li Bukaan lensa yang ukurannya dikontrol oleh diafragma. Istilah ini juga biasanya disebut f/stops, misalnya f/4, f/5.6 dan seterusnya yang diukur dengan membagi focal length lensa dengan diameter aperture. Jadi, f/11 pada lensa dengan focal length 110mm berarti bukaan lensanya 10mm. Semakin besar bukaannya, semakin rendah angka f-nya, dan semakin banyak cahaya yang masuk melalui lensa. Setiap langkah dalam aperture berarti membagi dua jumlah cahaya. Jadi, f/8 akan memasukkan cahaya setengah dari f/5.6 dan dua kali lebih banyak daripada f/11.
          li
            h2 Aperture Priority
          li Ini adalah mode pada kamera dSLR dimana fotografer bisa memilih angka aperture dan kamera menentukan pengaturan lainnya yang sesuai. Pada kamera Nikon dilambangkan dengan huruf A dan pada Canon dengan AV.
          li 
            h2 Autofokus
          li Cara menemukan titik fokus secara otomatis. Ditentukan oleh lensa kamera yang akan mendeteksi letak objek yang akan dibidik. Pada kamera dSLR dilambangkan dengan AF.
          li
            h2 Auto mode
          li Dilambangkan dengan warna hijau pada kamera. Mode pemotretan dimana kamera yang menentukan semua pengaturan. Fotografer tinggal membidik dan menekan tombol shutter. Mode ini biasanya digunakan pada kamera digital saku.
          li
            h2 Bulb
          li Pengaturan shutter yang berarti shutter akan terus terbuka selama tombol shutter belum ditekan. Biasanya digunakan untuk foto malam hari dengan cahaya rendah.
          li 
            h2 Background
          li Bagian pada sebuah foto yang terletak di bagian belakang objek utama. Background bisa dibuat tajam atau tidak melalui teknik pemilihan fokus dan manipulasi depth of field.

      section
        ul
          li
            h2 Backlight
          li Pencahayaan yang datang dari bagian belakang objek berdasarkan posisi kamera. Biasanya objek yang diberi cahaya backlight akan tampak gelap kecuali sebagian dari objek diberi cahaya lewat lampu atau fill-flash. Backlight yang sempurna akan menghasilkan siluet.
          li
            h2 Blur
          li Bagian yang tidak tajam pada sebuah foto akibat gerakan kamera atau objek saat exposure. Blur bisa dimanfaatkan untuk banyak efek kreatif. Pada olah digital, penggunaan efek Blur dipilih untuk melembutkan beberapa bagian pada foto.
          li
            h2 Brightness
          li Terang atau gelapnya objek. Jumlah brightness pada objek tergantung pada seberapa banyak cahaya meneranginya dan diukur dengan istilah EV pada kamera, yaitu kombinasi dari aperture dan shutter speed.
          li
            h2 Bokeh
          li Teknik mengaburkan bagian background pada foto secara artistik, biasanya pada titik-titik cahaya yang akan membentuk lingkaran-lingkaran lembut.
          li
            h2 Cable release
          li Sebuah kabel yang tersambung ke tombol shutter pada kamera yang ujung lainnya adalah tombol pengganti. Digunakan untuk mencegah terjadinya goyangan pada kamera saat tombol shutter ditekan. Cocok digunakan untuk long exposure.
          li 
            h2 Close-up
          li Foto yang dibuat dengan jarak lebih dekat dari pandangan normal. Foto close-up biasanya akan menampilkan detil dari objek-objek yang kecil.
          li
            h2 Crop
          li Pemilihan sebagian dari sebuah foto penuh melalui program editor foto pada komputer. Ini akan memotong foto aslinya ke bagian yang dipilih oleh fotografer.

      section
        ul
          li
            h2 Depth of field
          li Disingkat DOF. Yaitu bagian dalam sebuah foto yang terfokus dan tertangkap tajam. DOF dipengaruhi oleh ukuran lensa yang digunakan, angka aperture, dan jarak dari kamera ke objek. Bisa dangkal atau dalam dan sepenuhnya diatur oleh fotografer. DOF yang dangkal berarti area fokusnya sempit, sementara DOF dalam area fokusnya luas.
          li
            h2 Digital SLR
          li Kamera digital yang lensanya bisa diganti-ganti dan menyediakan pengaturan manual untuk kebebasan fotografer menentukan hasil akhir foto yang diambilnya.
          li
            h2 Exposure
          li Jumlah cahaya yang masuk melalui lensa dan sampai ke sensor. Exposure ditentukan oleh aperture, yaitu diameter bukaan lensa, shutter speed – yang adalah lamanya cahaya terekam oleh sensor, dan ISO – kepekaan sensor atau film terhadap cahaya. Jadi, exposure adalah kombinasi dari jumlah dan lamanya cahaya yang sampai ke sensor.
          li
            h2 F-Number
          li Atau angka f. Serangkaian angka yang menggambarkan besar-kecilnya bukaan diafragma atau aperture. Semakin besar angkanya, semakin kecil aperturenya. Sebaliknya, bila angkanya besar maka bukaan aperturenya semakin kecil.
          li
            h2 Filter
          li Akesori kamera yang dipasang pada lensa. Bentuknya bisa linngkaran atau persegi. Dilengkapi kaca khusus yang bisa menghasilkan efek saat memotret. Filter juga bisa berarti efek yang dihasilkan pada saat olah digital melalui serangkaian pengaturan.
          li
            h2 Flare
          li Cahaya yang tertangkap oleh lensa yang bisa menghasilkan bagian terang silau atau bocoran cahaya berwarna pada foto. Biasanya dihindari oleh fotografer tapi sebenarnya bisa dimanfaatkan untuk foto yang lebih kreatif.
      section
        ul
          li
            h2 Flash
          li Lampu yang digunakan untuk memotret. Biasanya muncul dari kamera (built-in flash) atau ada juga yang terpisah (extended flash) yang bisa dipasang pada bagian hot shoe pada kamera.
          li
            h2 Focal length
          li Jarak dari lensa ke sensor atau film yang mengarahkan cahaya. Ukuran panjang (length) ini digambarkan dalam milimeter (mm). Lensa yang focal length-nya pendek, seperti 28mm, memberikan pandangan yang cenderung lebih lebar – biasanya digunakan pada foto landscape. Sementara yang focal length-nya panjang, misalnya 200mm, digunakan pada foto-foto macro atau close-up untuk mempersempit pandangan dan mendekatkan objek ke lensa.
          li
            h2 Fokus
          li Membuat cahaya membentuk titik atau bagian tajam pada foto melalui sensor atau film pada kamera.
          li
            h2 Focus Lock Atau FL
          li tersedia pada kamera dengan sistem autofokus. Gunanya mengunci jarak fokus yang sudah didapat agar tidak berubah meskipun kamera bergoyang.
          li
            h2 Frame
          li Bagian luar pada sebuah foto atau ukuran lebar dan tingginya foto. Bisa juga berarti area dimana benda-benda akan masuk dalam foto dan bisa dikomposisi.
          li
            h2 Grain
          li Penampakan titik-titik halus pada foto, biasanya akibat pemotretan menggunakan ISO yang terlalu tinggi pada saat cahaya redup.
          li
            h2 Highlight
          li Bagian paling terang pada sebuah foto yang – jika muncul terlalu banyak – akan mengakibatkan foto yang overexposed. Jika dilihat akan tampak banyak bagian terang dan putih.
          
          
      section
        ul
          li
            h2 High key
          li Teknik pencampuran kontras pada foto dimana bagian highlight lebih banyak daripada bagian gelap tapi tidak overexposed.
          li
            h2 Hot shoe
          li Bagian pada kamera tempat dipasangnya extended flash. Ada di bagian atas kamera dan punya titik-titik kontak elektronik yang akan memberi sinyal pada flash untuk menembak saat tombol shutter ditekan.
          li
            h2 Infinity
            li Pada pengukuran lensa kamera, infinity adalah jarak maksimal yang jauh lebih besar daripada angka yang tertulis pada selongsong kamera. Dilambangkan dengan angka 8 horizontal dan biasanya digunakan untuk mendapatkan DOF yang sangat dalam atau memotret sesuatu yang sangat jauh seperti bulan.
          li
            h2 Infrared
          li Jenis cahaya yang tidak tertangkap oleh mata tapi bisa di-”lihat” oleh kamera. Bila dimanfaatkan melalui filter lensa infrared atau kamera khusus infrared, bisa menghasilkan foto yang sangat indah.
          li
            h2 ISO
          li Tingkat kepekaan film atau sensor terhadap cahaya. Semakin tinggi angka ISO-nya, semakin terang foto yang dihasilkan. Bila ISO tinggi digunakan di cahaya redup biasanya bisa menimbulkan grain/noise pada foto.
          li
            h2 Landscape 
          li Ukuran foto dimana bentuknya cenderung horizontal; lebih lebar daripada tinggi. Bisa juga berarti genre fotografi yang menangkap pemandangan alam sebagai objek.
          li
            h2 Lensa
          li Kombinasi kaca dan ruang udara yang diatur di dalam sebuah selongsong. Di dalamnya terdapat diafragma yang bisa membuka dan menutup untuk memungkinkan sejumlah cahaya masuk. Ini dikontrol secara manual oleh sebuah ring di baguan luar selongsong lensa, atau secara elektronis melalui pin di bagian sambungan lensa dengan kamera. Lensa punya dua fungsi utama: satu – memusatkan cahaya ke film atau sensor, kedua – mengontrol jumlah cahaya yang sampai ke sensor dengan penggunaan aperture. Lensa autofokus bisa dilengkapi motor untuk memungkinkannya bergerak maju-mundur untuk mengubah fokus.

      section
        ul
          li
            h2 Makro
          li Istilah lain dari fotografi close-up, tapi lebih spesifik lagi berarti memotret sebuah objek sampai ke ukuran aslinya atau lebih besar lagi. Bisa digambarkan sebagai sebuah rasio; misalnya rasio 1:2 berarti objek dalam foto setengah dari ukuran aslinya.
          li
            h2 Manual
          li Sebuah mode exposure dimana pengaturan exposure-nya dibuat oleh fotografer dengan memilih angka aperture dan shutter speed secara manual. Bisa juga berarti buku panduan yang datang beserta paket kamera kamu.
          li
            h2 Maximum aperture
          li Bukaan atau f-stop terbesar yang bisa dibuat oleh sebuah lensa. Sebuah lensa f/1.4 adalah lensa cepat karena memiliki maximum aperture yang cenderung lebar; sementara lensa f/4.5 adalah lensa lambat karena memiliki maximum aperture yang lebih sempit. Lensa cepat sangat membantu bila digunakan memotret dalam cahaya redup.
          li
            h2 Minimum aperture
          li Bukaan atau f-stop terkecil yang bisa dibuat oleh sebuah lensa. Biasanya, lensa wide angle punya minimum aperture f/22; lensa normal f/16; dan lensa telephoto f/32.
          li
            h2 Mode
          li Cara melakukan beberapa pemotretan. Beberapa mode pada kamera sudah diprogram lebih dulu dan bisa dipilih sesuai dengan kondisi pemotretan atau objek. Ini termasuk mode aperture priority (A atau AV), shutter priority (S atau TV), dan seterusnya.
          li
            h2 Overexposure
          li Saat melakukan exposure, jika ada terlalu banyak cahaya masuk mengenai sensor, maka overexposure terjadi. Overexposure kecil bisa mengakibatkan hilangnya detil dan texture dalam highlight sebuah foto; sementara overexposure yang parah bisa mengakibatkan kerusakan serius pada kualitas foto dan hilangnya informasi foto.
      section
        ul
          li
            h2 Panning
          li Sebuah teknik pemotretan dimana kamera mengikuti gerakan objek saat exposure berlangsung, biasanya dilakukan dengan shutter speed pelan.
          li
            h2 Polarizing filter
          li Sebuah filter yang meneruskan gelombang cahaya ke satu arah, digunakan untuk memperdalam warna biru pada langit, mengurangi kontras pada tempat yang sangat terang, dan untuk menembus permukaan yang memantulkan cahaya seperti air atau kaca.
          li
            h2 Portrait
          li Ukuran foto dimana ukurannya cenderung vertikal; lebih tinggi daripada lebar. Bisa juga berarti genre fotografi yang berfokus pada manusia sebagai objek.
          li
            h2 Post-processing
          li Proses yang dilakukan setelah foto diambil. Biasanya menggunakan program editor foto pada komputer. Biasa juga disebut editing.
          li
            h2 Saturasi
          li Berhubungan dengan warna pada sebuah foto, yaitu cerah atau tidaknya warna-warna tersebut. Saturasi bisa dimanipulasi melalui post-processing.
          li
            h2 Shadow
          li Bagian tergelap pada sebuah foto. Kebalikan dari highlight. Biasanya menampilkan detil dan tekstur.
          li
            h2 Sharpness
          li Bagian dari foto yang terfokus atau tajam.
          li
            h2 Shutter
          li Serangkaian ‘tirai’ di dalam lensa yang bisa membiarkan cahaya masuk untuk sampai ke sensor dalam rentang waktu tertentu.
      section
        ul
          li
            h2 Shutter release
          li Tombol yang digunakan untuk menentukan saat menutupnya shutter. Banyak tombol ini yang bekerja dala dua langkah; jika ditekan setengah jalan akan mencari fokus pada mode autofokus, dan jika ditekan sepenuhnya akan menutup tirai shutter.
          li
            h2 Single-Lens-Reflex
          li disingkat SLR. Jenis kamera yang memiliki cermin yang bisa digerakkan dibelakang lensa dan kaca untuk melihat objek. Sensor terletak di belakang susunan cermin ini yang akan bergerak jika exposure terjadi. SLR dan DSLR adalah dua sistem yang berbeda, dimana DSLR adalah digital, sementara SLR adalah analog.
          li
            h2 Slow
          li Istilah yang digunakan untuk jangka waktu exposure yang lama. Biasanya bila menggunakan aperture dengan bukaan kecil atau bila shutter speed lebih lambat dari 1/30 detik.
          li
            h2 Stop
          li Pengukuran cahaya yang digunakan untuk menggambarkan aperture atau shutter speed, meskipun lebih umum digunakan bersama aperture. Perbedaan satu stop menandakan setengah atau dua kali lipat jumlah cahaya. Stop down berartu mempersempit aperture; stop up berarti melebarkan.
          li
            h2 Telephoto 
          li Nama yang digunakan untuk lensa yang focal length-nya lebih panjang dari 50mm dan sudut pandanganya kurang dari 45 derajat. Telephoto biasa panjangnya sekitar 80mm, medium sekitar 135mm, dan telephoto ekstrem bisa sampai 300mm atau lebih (dikenal juga dengan istilah termos putih). Biasanya untuk memotret benda-benda jauh agar tampak dekat, seperti cara kerja teropong.
          li
            h2 Tripod
          li Sebuah alat berkaki tiga dengan landasan tempat memasang kamera, digunakan untuk menstabilkan kamera selama exposure terjadi. Sangat berguna untuk exposure yang lebih lama dari 1/30 detik, atau jika beberapa foto harus diambil dengan keseragaman yang tinggi.
          li
            h2 Tone
          li Istilah lain untuk warna, tapi bisa juga berarti mood yang dihasilkan oleh kombinasi warna pada sebuah foto.
      section
        ul
          li
            h2 Underexposed
          li Kegagalan mengekspos sensor dengan benar karena tidak ada cukup cahaya yang sampai ke sensor untuk memunculkan warna dan brightness. Foto yang underexposed akan tampak gelap dan kekurangan warna.
          li
            h2 UV Filter
          li Sebuah filter lensa yang bening tanpa warna yang mencegah sinar ultraviolet terekam oleh film atau sensor. Baik untuk memotret landscape jarak jauh atau melindungi lensa.
          li
            h2 Viewfinder
          li Kotak tempat melihat objek saat dibidik. Disebut juga jendela bidik. Biasanya di layarnya tertera panduan exposure, fokus, dan kesiapan flash. Ini adalah ruang kontrol tempat menentukan berhasil atau tidaknya gambar diambil.
          li
            h2 Warm tone
          li Penampilan atau mood warna sebuah foto yang cenderung kuning atau jingga. Pada foto hitam putih akan menjadi sepia atau kecoklatan.
          li
            h2 Wide angle
          li Jenis lensa yang memberikan pandangan luas, biasanya pada rentang focal length 35 sampai 24mm. Ultra wide angle panjangnya 20 – 8mm. Lensa wide angle memungkinkan fokus yang merata pada seluruh bagian foto. Biasanya digunakan untuk memotret landscape.
          li
            h2 Zoom
          li Kemampuan lensa untuk merubah focal length, kebalikan dari lensa dengan length yang tetap (fixed). Lensa zoom tersedia dalam beberapa rentang yang berbeda, seperti 35 sampai 105mm. 


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
    header
      nav
        ul
          li
            a(href='#') Pilih Topik
            ul
                li
                  a(href='Awal.html') Awalan
                li
                  a(href='Sejarah_Photography.html') Sejarah Photography
                li
                  a(href='Jenis-jenis Photography.html') Jenis-jenis Photography
                li
                  a(href='Istilah Dasar Dalam Photography.html') Istilah Dasar Dalam Photography
                li
                  a(href='Jenis Jenis Lensa Kamera.html') Jenis-Jenis Lensa Kamera
                li
                  a(href='Mode-mode Pada Kamera.html') Mode-mode Pada Kamera
                li
                  a(href='Beberapa Fotografer Indonesia.html') Beberapa Fotografer Indonesia
