doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Photography

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    
    article


      section
        h1  Istilah Dasar Dalam Photography

      section
        ul
          li 
            h2 Aperture
          li Bukaan lensa yang ukurannya dikontrol oleh diafragma. Istilah ini juga biasanya disebut f/stops, misalnya f/4, f/5.6 dan seterusnya yang diukur dengan membagi focal length lensa dengan diameter aperture. Jadi, f/11 pada lensa dengan focal length 110mm berarti bukaan lensanya 10mm. Semakin besar bukaannya, semakin rendah angka f-nya, dan semakin banyak cahaya yang masuk melalui lensa. Setiap langkah dalam aperture berarti membagi dua jumlah cahaya. Jadi, f/8 akan memasukkan cahaya setengah dari f/5.6 dan dua kali lebih banyak daripada f/11.
          li
            h2 Aperture Priority
          li Ini adalah mode pada kamera dSLR dimana fotografer bisa memilih angka aperture dan kamera menentukan pengaturan lainnya yang sesuai. Pada kamera Nikon dilambangkan dengan huruf A dan pada Canon dengan AV.
          li 
            h2 Autofokus
          li Cara menemukan titik fokus secara otomatis. Ditentukan oleh lensa kamera yang akan mendeteksi letak objek yang akan dibidik. Pada kamera dSLR dilambangkan dengan AF.
          li
            h2 Auto mode
          li Dilambangkan dengan warna hijau pada kamera. Mode pemotretan dimana kamera yang menentukan semua pengaturan. Fotografer tinggal membidik dan menekan tombol shutter. Mode ini biasanya digunakan pada kamera digital saku.
          li
            h2 Bulb
          li Pengaturan shutter yang berarti shutter akan terus terbuka selama tombol shutter belum ditekan. Biasanya digunakan untuk foto malam hari dengan cahaya rendah.
          li 
            h2 Background
          li Bagian pada sebuah foto yang terletak di bagian belakang objek utama. Background bisa dibuat tajam atau tidak melalui teknik pemilihan fokus dan manipulasi depth of field.

      section
        ul
          li
            h2 Backlight
          li Pencahayaan yang datang dari bagian belakang objek berdasarkan posisi kamera. Biasanya objek yang diberi cahaya backlight akan tampak gelap kecuali sebagian dari objek diberi cahaya lewat lampu atau fill-flash. Backlight yang sempurna akan menghasilkan siluet.
          li
            h2 Blur
          li Bagian yang tidak tajam pada sebuah foto akibat gerakan kamera atau objek saat exposure. Blur bisa dimanfaatkan untuk banyak efek kreatif. Pada olah digital, penggunaan efek Blur dipilih untuk melembutkan beberapa bagian pada foto.
          li
            h2 Brightness
          li Terang atau gelapnya objek. Jumlah brightness pada objek tergantung pada seberapa banyak cahaya meneranginya dan diukur dengan istilah EV pada kamera, yaitu kombinasi dari aperture dan shutter speed.
          li
            h2 Bokeh
          li Teknik mengaburkan bagian background pada foto secara artistik, biasanya pada titik-titik cahaya yang akan membentuk lingkaran-lingkaran lembut.
          li
            h2 Cable release
          li Sebuah kabel yang tersambung ke tombol shutter pada kamera yang ujung lainnya adalah tombol pengganti. Digunakan untuk mencegah terjadinya goyangan pada kamera saat tombol shutter ditekan. Cocok digunakan untuk long exposure.
          li 
            h2 Close-up
          li Foto yang dibuat dengan jarak lebih dekat dari pandangan normal. Foto close-up biasanya akan menampilkan detil dari objek-objek yang kecil.
          li
            h2 Crop
          li Pemilihan sebagian dari sebuah foto penuh melalui program editor foto pada komputer. Ini akan memotong foto aslinya ke bagian yang dipilih oleh fotografer.

      section
        ul
          li
            h2 Depth of field
          li Disingkat DOF. Yaitu bagian dalam sebuah foto yang terfokus dan tertangkap tajam. DOF dipengaruhi oleh ukuran lensa yang digunakan, angka aperture, dan jarak dari kamera ke objek. Bisa dangkal atau dalam dan sepenuhnya diatur oleh fotografer. DOF yang dangkal berarti area fokusnya sempit, sementara DOF dalam area fokusnya luas.
          li
            h2 Digital SLR
          li Kamera digital yang lensanya bisa diganti-ganti dan menyediakan pengaturan manual untuk kebebasan fotografer menentukan hasil akhir foto yang diambilnya.
          li
            h2 Exposure
          li Jumlah cahaya yang masuk melalui lensa dan sampai ke sensor. Exposure ditentukan oleh aperture, yaitu diameter bukaan lensa, shutter speed – yang adalah lamanya cahaya terekam oleh sensor, dan ISO – kepekaan sensor atau film terhadap cahaya. Jadi, exposure adalah kombinasi dari jumlah dan lamanya cahaya yang sampai ke sensor.
          li
            h2 F-Number
          li Atau angka f. Serangkaian angka yang menggambarkan besar-kecilnya bukaan diafragma atau aperture. Semakin besar angkanya, semakin kecil aperturenya. Sebaliknya, bila angkanya besar maka bukaan aperturenya semakin kecil.
          li
            h2 Filter
          li Akesori kamera yang dipasang pada lensa. Bentuknya bisa linngkaran atau persegi. Dilengkapi kaca khusus yang bisa menghasilkan efek saat memotret. Filter juga bisa berarti efek yang dihasilkan pada saat olah digital melalui serangkaian pengaturan.
          li
            h2 Flare
          li Cahaya yang tertangkap oleh lensa yang bisa menghasilkan bagian terang silau atau bocoran cahaya berwarna pada foto. Biasanya dihindari oleh fotografer tapi sebenarnya bisa dimanfaatkan untuk foto yang lebih kreatif.
      section
        ul
          li
            h2 Flash
          li Lampu yang digunakan untuk memotret. Biasanya muncul dari kamera (built-in flash) atau ada juga yang terpisah (extended flash) yang bisa dipasang pada bagian hot shoe pada kamera.
          li
            h2 Focal length
          li Jarak dari lensa ke sensor atau film yang mengarahkan cahaya. Ukuran panjang (length) ini digambarkan dalam milimeter (mm). Lensa yang focal length-nya pendek, seperti 28mm, memberikan pandangan yang cenderung lebih lebar – biasanya digunakan pada foto landscape. Sementara yang focal length-nya panjang, misalnya 200mm, digunakan pada foto-foto macro atau close-up untuk mempersempit pandangan dan mendekatkan objek ke lensa.
          li
            h2 Fokus
          Membuat cahaya membentuk titik atau bagian tajam pada foto melalui sensor atau film pada kamera.
          li
            h2 Focus Lock Atau FL
          li tersedia pada kamera dengan sistem autofokus. Gunanya mengunci jarak fokus yang sudah didapat agar tidak berubah meskipun kamera bergoyang.
          li
            h2 Frame
          Bagian luar pada sebuah foto atau ukuran lebar dan tingginya foto. Bisa juga berarti area dimana benda-benda akan masuk dalam foto dan bisa dikomposisi.
          li
            h2 Grain
          li Penampakan titik-titik halus pada foto, biasanya akibat pemotretan menggunakan ISO yang terlalu tinggi pada saat cahaya redup.
          li
            h2 Highlight
          li Bagian paling terang pada sebuah foto yang – jika muncul terlalu banyak – akan mengakibatkan foto yang overexposed. Jika dilihat akan tampak banyak bagian terang dan putih.
          li
            h2 High key
          li Teknik pencampuran kontras pada foto dimana bagian highlight lebih banyak daripada bagian gelap tapi tidak overexposed.
          li
            h2 Hot shoe
          li Bagian pada kamera tempat dipasangnya extended flash. Ada di bagian atas kamera dan punya titik-titik kontak elektronik yang akan memberi sinyal pada flash untuk menembak saat tombol shutter ditekan.
      section
        ul
          li
            h2 Infinity
            li Pada pengukuran lensa kamera, infinity adalah jarak maksimal yang jauh lebih besar daripada angka yang tertulis pada selongsong kamera. Dilambangkan dengan angka 8 horizontal dan biasanya digunakan untuk mendapatkan DOF yang sangat dalam atau memotret sesuatu yang sangat jauh seperti bulan.
          li
            h2 Infrared
          li Jenis cahaya yang tidak tertangkap oleh mata tapi bisa di-”lihat” oleh kamera. Bila dimanfaatkan melalui filter lensa infrared atau kamera khusus infrared, bisa menghasilkan foto yang sangat indah.
          li
            h2 ISO
          li Tingkat kepekaan film atau sensor terhadap cahaya. Semakin tinggi angka ISO-nya, semakin terang foto yang dihasilkan. Bila ISO tinggi digunakan di cahaya redup biasanya bisa menimbulkan grain/noise pada foto.
          li
            h2 Landscape 
          li Ukuran foto dimana bentuknya cenderung horizontal; lebih lebar daripada tinggi. Bisa juga berarti genre fotografi yang menangkap pemandangan alam sebagai objek.
          li
            h2 Lensa
          li Kombinasi kaca dan ruang udara yang diatur di dalam sebuah selongsong. Di dalamnya terdapat diafragma yang bisa membuka dan menutup untuk memungkinkan sejumlah cahaya masuk. Ini dikontrol secara manual oleh sebuah ring di baguan luar selongsong lensa, atau secara elektronis melalui pin di bagian sambungan lensa dengan kamera. Lensa punya dua fungsi utama: satu – memusatkan cahaya ke film atau sensor, kedua – mengontrol jumlah cahaya yang sampai ke sensor dengan penggunaan aperture. Lensa autofokus bisa dilengkapi motor untuk memungkinkannya bergerak maju-mundur untuk mengubah fokus.







    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
    header
      nav
        ul
          li
            a(href='#') Pilih Topik
            ul
                li
                  a(href='Sejarah_Photography.html') Sejarah Photography
                li
                  a(href='Jenis-jenis Photography.html') Jenis-jenis Photography
                li
                  a(href='Istilah Dasar Dalam Photography.html') Istilah Dasar Dalam Photography
