doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Photography

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    
    article


      section
        ul
          li 
            h2 Jenis Jenis Lensa 

          li
            h3 1. Lensa Zooming
          li
            Lensa Zooming adalah lensa yang memiliki Focal Length atau memiliki rentang focal yang bisa di putar di bodi lensa, yang bisa di zoom in dan zoom out,tujuan nya untuk memperbesar dan memperkecil objek yang ada di hadapan lensa tersebut. Lensa Zooming di bagi dalam beberapa kategori. Kelebihan dari lensa zoom adalah dalam hal kepraktisan karena dengan satu lensa bisa mendapatkan variasi fokal untuk kebutuhan fotografi dan perspektif yang diinginkan.

          li
            h3. 1.1 Zooming Standart
          li
            Adalah lensa yang biasa nya memiliki rentang focal antara 18-55mm. Untuk rentang nya ini bisa dikatakan sedang, cukup untuk memotret kebutuhan sehari hari. Seperti Weading, foto model, foto dalam ruangan,acara atau even even dan lain sebagainya. Lensa ini kebanyakan dijual per paket bersama kamera nya.
          li
            h3 1.2 Zooming Wide
          li
            Adalah lensa yang biasa nya memiliki rentang fokal yang rendah 10-20mm, 11-16mm, 16-35mm dan bervariasi lain nya tergantung dari brand masing masing. Lensa Wide ini di khusus kan untuk para fotografer Lanskap/Lanscape atau para pemburu Panorama alam, keindahan alam. Dengan rentang fokal yang cukup rendah lensa dapat menangkap foto dengan rentang yang jauh sehingga seluruh sudut pandang Lanscape dapat di tangkap.
          li
            h3 1.3 Zooming Tele
          li
            Adalah lensa yang memiliki rentang fokal yang jauh, biasanya antara 70-300mm,70-200, 100-400mm, 60-135mm, 135-300 dan lainya tergantung dari brand masing masing. Lensa ini biasa nya di gunakan para fotgrafer Sport, fotografer Birding, Fotografer Wild, Fotografer Model. Dengan rentang fokal yang begitu besar kita dapat menjangkau objek yang sangat jauh. Kelebihan lensa ini memiliki tingkat bokeh(blur background) yang lumayan tinggi,makanya banyak juga fotografer model/fashion menggunakan lensa ini. 

      section
        ul
          li
            h3 2. Lensa Fix / Prime
          li
            Lensa Fix adalah sebutan lensa yang hanya memiliki satu focal length saja. Lensa ini tidak memiliki ring untuk di putar zoom in dan zoom out. Misal nya Lensa fix 50mm, lensa fix 35mm, lensa fix 85mm dan lain lain. Kelebihan dari lensa ini adalah biasanya lensa yang memiliki singgle focal length memiliki bukaan aperture yang besar (f/1.8,f/1.4). Dengan bukaan aperture yang besar membantu para fotografer ketika memotret di kondisi yang kurang cahaya, dan cocok untuk foto model karena memiliki bokeh yang luar biasa.
          li
            h3 3. Lensa Makro
          li
            Lensa Macro adalah lensa yang dibuat secara khusus untuk memotret objek objek yang sangat kecil dan detail, seperti serangga kecil, tetesan embun, dan bidang detail lainya. Lensa makro ini ada yang bisa zooming dan ada juga yang fix, misalnya 100mm Macro, 30-50mm Macro. Kelebihan lensa ini fotografer dapat membidik objek ddengan jarak yang sangat dekat dan tidak mem blur kan objek.
          li
            h3 4. Lensa FishEye 
          li
            Lensa fisheye merupakan jenis lensa ultra wide-angle yang menghasilkan distorsi visual yang disengaja untuk menghasilkan foto lebar panoramik atau hemisperik. Atau dengan kata sederhana lensa fisheye ini dapat membuat objek menjadi cembung dan unik. Biasa nya lensa ini digunakan untuk keperluan khusus dan Lanscape.


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
    header
      nav
        ul
          li
            a(href='#') Pilih Topik
            ul
                li
                  a(href='Awal.html') Awalan
                li
                  a(href='Sejarah_Photography.html') Sejarah Photography
                li
                  a(href='Jenis-jenis Photography.html') Jenis-jenis Photography
                li
                  a(href='Istilah Dasar Dalam Photography.html') Istilah Dasar Dalam Photography
                li
                  a(href='Jenis Jenis Lensa Kamera.html') Jenis-Jenis Lensa Kamera
                li
                  a(href='Mode-mode Pada Kamera.html') Mode-mode Pada Kamera
                li
                  a(href='Beberapa Fotografer Indonesia.html') Beberapa Fotografer Indonesia
