doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Photography

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    
    article


      section
        h2 JENIS-JENIS PHOTOGRAPHY
        h3  1. FOTO MANUSIA
        Foto manusia adalah semua foto yang obyek utamanya manusia, baik anak-anak sampai orang tua,
        muda maupun tua. Unsur utama dalam foto ini adalah manusia, yang dapat menawarkan nilai dan
        daya tarik untuk divisualisasikan.contoh:

        img(src='human.jpg')


      section
        h2 1.1 Portrait
        Portrait adalah foto yang menampilkan ekspresi dan karakter manusia dalam kesehariannya.
        Karakter manusia yang berbeda-beda akan menawarkan image tersendiri dalam membuat foto
        portrait. Tantangan dalam membuat foto portrait adalah dapat menangkap ekspresi obyek (mimic,
        tatapan, kerut wajah) yang mampu memberikan kesan emosional dan menciptakan karakter
        seseorang.
        img(src='unnamed.jpg')

      section
        h2 1.2 Human Interest
        Human Interest dalam karya fotografi adalah menggambarkan kehidupan manusia atau interaksi
        manusia dalam kehidupan sehari-hari serta ekspresi emosional yang memperlihatkan manusia
        dengan masalah kehidupannya, yang mana kesemuanya itu membawa rasa ketertarikan dan rasa
        simpati bagi para orang yang menikmati foto tersebut
        img(src='bajaksawah.jpg')
     
      
      section
        
        h2 1.3 Stage Photography
        Stage Photography adalah semua foto yang menampilkan aktivitas/gaya hidup manusia yang
        merupakan bagian dari budaya dan dunia entertainment untuk dieksploitasi dan menjadi bahan yang
        menarik untuk divisualisasikan.
        img(src='kcs.jpg')

      section
        h2 1.4 Sport
        Foto olahraga adalah jenis foto yang menangkap aksi menarik dan spektakuler dalam event dan
        pertandingan olah raga. Jenis foto ini membutuhkan kecermatan dan kecepatan seorang fotografer.
        dalam menangkap momen terbaik.
        img(src='rio1.jpg')

      section

        h2 2. FOTO NATURE
        Dalam jenis foto nature obyek utamanya adalah benda dan makhluk hidup alami (natural) seperti hewan, tumbuhan, gunung, hutan dan lain-lain.

      section
        h2 2.1 Foto Flora
        P Jenis foto dengan obyek utama tanaman dan tumbuhan dikenal dengan jenis foto flora. Berbagai jenis
        tumbuhan dengan segala keanekaragamannya menawarkan nilai keindahan dan daya tarik untuk
        direkam dengan kamera.
        img(src='flora.jpg')

      section
        h2 Foto Fauna
        p Foto fauna adalah jenis foto dengan berbagai jenis binatang sebagai obyek utama. Foto ini
        menampilkan daya tarik dunia binatang dalam aktifitas dan interaksinya.
        img(src='fauna.jpg')
          
      section

        h2 2.3 Foto Lanskap
        Foto lanskap adalah jenis foto yang begitu popular seperti halnya foto manusia. Foto lanskap
        merupakan foto bentangan alam yang terdiri dari unsur langit, daratan dan air, sedangkan manusia,
        hewan, dan tumbuhan hanya sebagai unsur pendukung dalam foto ini. Ekspresi alam serta cuaca
        menjadi moment utama dalam menilai keberhasilan membuat foto lanskap.
        img(src='lanskape.png')

      section

        h2 3. FOTO ARSITEKTUR
        Kemanapun anda pergi akan menjumpai bangunan-bangunan dalam berbagai ukuran, 
        Kemanapun anda pergi akan menjumpai bangunan-bangunan dalam berbagai ukuran, bentuk,
        warna dan desain. Dalam jenis foto ini menampilkan keindahan suatu bangunan baik dari segi
        sejarah, budaya, desain dan konstruksinya. Memotret suatu bangunan dari berbagai sisi dan
        menemukan nilai keindahannya menjadi sangat penting dalam membuat foto ini. Foto arsitektur ini
        tak lepas dari hebohnya dunia arsitektur dan teknik sipil sehingga jenis foto ini menjadi cukup penting
        peranannya.
        img(src='arsitek.jpg')

      section

        h2 4. FOTO STILL LIFE
        Foto still life adalah menciptakan sebuah gambar dari benda atau obyek mati. Membuat gambar dari
        benda mati menjadi hal yang menarik dan tampak “hidup”, komunikatif, ekspresif dan mengandung
        pesan yang akan disampaikan merupakan bagian yang paling penting dalam penciptaan karya foto
        ini. Foto still life bukan sekadar menyalin atau memindahkan objek ke dalam film dengan cara
        seadanya, karena bila seperti itu yang dilakukan, namanya adalah mendokumentasikan. Jenis foto ini
        merupakan jenis foto yang menantang dalam menguji kreatifitas, imajinasi, dan kemampuan teknis.
        img(src='still life.jpg')

      section

        h2 5. FOTO JURNALISTIK
        Foto jurnalistik adalah foto yang digunakan untuk kepentingan pers atau kepentingan informasi.
        Dalam penyampaian pesannya, harus terdapat caption (tulisan yang menerangkan isi foto) sebagai
        bagian dari penyajian jenis foto ini. Jenis foto ini sering kita jumpai dalam media massa (Koran,
        majalah, bulletin, dll).
        img(src='jurnal.jpg')

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
    header
      nav
        ul
          li
            a(href='#') Pilih Topik
            ul
                li
                     a(href='Sejarah_Photography.html') Sejarah Photography
                li
                    a(href='Jenis-jenis Photography.html') Jenis-jenis Photography
                li
                    a(href='Istilah Dasar Dalam Photography.html') Istilah Dasar Dalam Photography
                li
                    a(href='Mode-mode Pada Kamera.html') Mode-mode Pada Kamera
                li
                    a(href='Beberapa Fotografer Indonesia.html') Beberapa Fotografer Indonesia
