doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Photography

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    
    article


      section
         ul
          li
            h2 Memahami Mode Di Kamera Digital
          li
            p Pada kamera digital terdapat mode mode pilhan yang di ciptakan oleh pabrikan kamera, yang bertujuan untuk mengambil gambar dengan kebutuhan khusus. Contoh mode mode pada kamera digital adalah Auto,Sport,Macro,Aperture Priority,dll. Mungkin untuk di kamera sejenis pocket mode kamera nya tidak se komplek pada kamera DSLR, tetapi untuk jenis kamera pocket yang canggih mungkin akan sama seperti yang ada di kamera DSLR.
          li
            p
            h3 1. AUTO
          li
            p Jika kita dengar kata "Auto", kita langsung berfikir tentang hal hal yang serba otomatis. Begitu juga di mode ini, di mode Auto ini kamera sendiri akan men set settingan di kamera secara otomatis, kamera akan mengatur ISO, Aperture, Shutter Speed berdasarkan sensor yang ada pada kamera tersebut. Kamera akan membaca keadaan di sekitar nya, jika cahaya di sekeliling nya terang maka kamera akan men set ISO serendah mungkin dan menaikkan shutter speed untuk mengoptimalkan hasil gambar. Begitu juga sebaliknya jika cahaya disekitar gelap makan kamera akan secara otomatis mengaktifkan blits/flash yang ada pada kamera untuk hasil gambar yang optimal.
          li
            p
            h3 2. Sport
          li
            p Mode Sport ini memaksa kamera untuk dapat membaca objek yang bergerak cepat dan membekukan objeknya supaya objek tidak goyang atau blur. Di mode ini kamera akan selalu men set Shutter Speed setinggi mungkin sesuai kemampuan dari kamera dan lensa. Dan membuak Aperture sebesar mungkin. Contoh jika dalam balapan kita set ke mode sport maka Kamera memerintahkan agar shutter speed di atur 1/1000s dan Aperture f/3.5(tergantung jenis lensa). Tetapi kekurangan mode ini jika cuaca tidak cerah maka hasil gambar akan menjadi gelap.
          li
            p
            h3 3. Potrait
          li
            p Mode Potrait ini di symbolkan dengan wajah manusia pada tombol program mode nya, mode ini lebih cocok kalau anda ingin memfoto model,wajah manusia, kulit dan manusia itu sendiri atau lebih ke foto potrait. Pada mode ini kamera bekerja secara otomatis mengatur settingan kamera untuk mendapatkan warna tone kulit yang alami dan lembut, kamera juga secara otomatis mengenali wajah manusia dengan algoritma yang sudah terdapat pada seluruh kamera canggih dan professional.
      section
        ul
          li
            p
            h3 4. Lanskap/Lanscape
          li
            p Pada mode Lanskap ini biasanya di symbolkan dengan gambar gunung. Yap.. mode ini tidak lain dan tidak bukan di peruntukkan untuk memfoto pemandangan alam atau lebih ke foto Natural. Di mode ini kamera di paksa secara otomatis mengatur tone warna untuk Nature atau alam, kamera akan mengatur white balance untuk Natural atau Vivid(terang), agar dedaunan kelihatan hijau, serta laut dan langit yang biru. Kamera akan men set se natural mungkin hasil foto agar sama percis dengan pengelihatan mata kita di alam bebas dengan yang di lcd kamera.
          li
            p
            h3. 5. Macro
          li
            p Di mode Macro dilambangkan dengan bunga dan daun nya, mode macro ini lebih di peruntukkan untuk memfoto bidang bidang yang kecil dan detail, seperti serangga, kelopak bunga, karatan besi, tetesan embun/air. Di sini kamera di paksa secara otomatis untuk membuka Aperture paling besar yang dimiliki si lensa, misal f/1.8, f/2.0, f/3.5 (tergantung jenis lensa yang digunakan). Dengan aperute besar kamera mampu memfoto objek yang kecil dan detail dengan tidak blur. Mode ini cocok untuk fotografer Macro.
          li
            p
            h3. 6. Program Mode (P)
          li
            p Mode ini biasanya di symbolkan dengan huruf "P", Program Mode ini biasa nya hanya terdapat di kamera kamera yang sudah high end, misal kamera Prossumer,SLR, DSLR. Dalam program mode, kamera secara otomatis akan menentukan Aperture dan Shutter Speed untuk kita berdasarkan jumlah cahaya yang masuk melalui lensa. Jika anda menemukan momen yang penting dan tidak ingin berpikir apa-apa langsung jepret, gunakan mode ini. 
            p Kamera akan berusaha menyeimbangkan antara shutter dan aperture, jika kita mengarahkan lensa ke area yang terang, angka aperture secara otomatis membesar sementara shutter speed dipertahankan di angka yang lumayan cepat. Arahkan kamera ke area gelap dan angka aperture akan mengecil untuk mempertahakan shutter supaya tidak terlalu blur. Ada cara untuk mengubah pengukuran otomatis kamera, dengan memutar kontrol dial di kamera. Jika kita putar dial ke kiri maka kamera akan “dipaksa” memperlambat shutter speed dan menambah aperture. Jika memuter dial ke kanan, kamera akan “dipaksa” mempercepat shutter speed dan memperkecil aperture.

      section
        ul
          li
            p
            h3. 7. Shutter-Priority Mode (S atau Tv)
          li
            p Sama dengan Mode P diatas,mode ini hanya dimiliki kamera yang professional. Biasanya disymbolkan dengan "S / Tv", "S" pada kamera brand "NIKON" dan "Tv" pada kamera brand "CANON". Di mode ini, kita menentukan nilai shutter speed, lalu kamera menentukan bukaan lensa. Setting ini dipakai kalau kita ingin mendapatkan efek freeze (beku) atau efek motion (gerak).Kalau kita set shutter speed cepat seperti 1/500 detik, maka hasilnya gerakan orang atau benda yang sedang bergerak menjadi beku, sebaliknya kalau kita set 1/15 detik atau lebih rendah lagi benda/orang yang bergerak, maka kita akan menangkap motion blur. Teknik ini cocok untuk merekam gerakan air di pantai, gerakan air terjun ataupun merekam cahaya mobil yang lewat di malam hari. Seperti aperture, shutter speed juga mempengaruhi banyak sedikitnya cahaya yang masuk.
            p Masalah yang sering timbul adalah kamera tidak menemukan setting bukaan yang pas. Jika itu terjadi, foto akan gelap atau terlalu terang. Jika kamera memberikan tanda-tanda seperti kedap-kedip, evaluasi lagi nilai shutter speed dan ISO yang digunakan.
          li
            p
            h3. 8. Aperture-Priority Mode (Av atau A)
          li
            p Mode ini disymbolkan dengan "Av atau A", Av untuk Canon dan A untuk Nikon. Di mode aperture priority, kita set besaran aperture secara manual dan kamera akan menentukan besar shutter speed sesuai jumlah cahaya yang masuk lensa. Dengan menggunakan mode aperture priority, kita memiliki kontrol penuh atas depth of field (bidang tajam), karena kita bisa menurunkan atau menaikkan bukaan lensa dan membiarkan kamera yang menghitung shutter speed. Menggunakan mode aperture priority adalah cara aman dalam mengoperasikan kamera karena resiko foto menjadi under-exposed (gelap) atau over-exposed (terlalu terang) lumayan kecil. Kenapa? karena nilai shutter kamera range-nya lumayan lebar, dari 30 detik sampai 1/4000 detik (atau 1/8000 detik dikamera canggih), yang mana sangat mencukupi untuk berbagai kondisi cahaya. Mode ini juga hanya dimiliki oleh kamera kamera yang high end atau yang professional. Mode ini sebenarnya cocok untuk anda yang suka memfoto background menjadi blur atau "bokeh". seberapa tingkat blur atau bokeh nya background yang ingin anda dapatkan, tergantung jenis lensa yang anda gunakan, jika anda ingin bokeh yang creamy atau blur yang luar biasa gunakanlah Lensa dengan bukaan Aperture sebesar mungkin misal, Nikkor AFS 50mm f/1.4 (untuk Nikon).

      section
        ul
          li
            p
            h3 9. Manual Mode (M)
          li
            p Mode ini biasnya di symbolkan dengan "M" baik Nikon maupun Canon, Seperti namanya, kita mengontrol nilai aperture dan shutter speed kamera secara manual sepenuhnya. Anda harus memilih nilai aperture sekaligus shutter speed. Mode ini bisa dipakai saat memotret obyek foto yang kondisi pencahayaan-nya membuat kamera “bingung”. Contohnya adalah saat kita memotret teman di pantai yang sangat terang, kamera mungkin akan salah menilai exposure sehingga wajah teman jadi hitam supaya pasir dipantai tidak over-exposed. Dalam kasus seperti ini, kita bisa mengganti mode menjadi manual dan melakukan metering dengan mengukur exposure di wajah teman lalu menentukan aperture serta shutter speed secara manual berdasarkan hasil metering tadi. Mode manual juga berguna saat misalnya kita memotret panoramasupaya terjadi konsistensi. Foto panorama dihasilkan dari beberapa foto yang dijahit, dan nilai aperture maupun shutter speed sebaiknya selalu konsisten sehingga hasil akhir foto panorama akan konsisten tidak belang-belang ada yang gelap dan ada yang terang. Cocok juga untuk kondisi ruangan / lingkungan berganti2 intensitas cahayanya sehingga membingungkan kamera. Contoh = seperti di konser, lampunya menyala dengan intesitas dan arah yang berubah-ubah, kadang sangat terang, kadang sangat gelap. Mode ini pun hanya di miliki oleh kamera yang high end atau yang professional.

            p Untuk ke empat mode terakhir mungkin anda bingung bagaimana cara menggunakanya, untuk lebih menguasai ke empat mode terakhir ini  anda harus menguasai yang nama nya konsep "Segitiga Eksporsure", disini akan dibahas bagaimana cara kerja ISO, bagaimana Shutter-Speed bekerja, serta bagaimana Aperture/Bukaan Diagfragma bekerja pada lensa kamera. Perlu anda ketahui juga bahwa ketiga elemen penting ini saling terhubung dan membentuk 1 rumus yang di gunakan para fotografer handal untuk mendapatkan hasil foto yang luar biasa.
      section
        ul
          li
            P
            Bagaimana Memilih Angle Yang Bagus
            li
            P Pertama-tama, Saya perlu klarifikasi dahulu apa yang saya maksud dengan angle dan komposisi. Sebenernya, angle dan komposisi mengacu ke satu hal yang sama. Agle mengacu pada ke fotografer dan kamera arah dari mana foto tersebut di ambil. Sedangkan komposisi mengacu pada hasil fotonya. Bagaimana elemen-elemen dalam foto tersebut disusun/diatur sehingga menghasilkan keseluruhan gambar yang menarik atau kuat. Angle menentukan komposisi,begitu juga komposisi di perlukan perubahan angle.
          li
            P Secara umum, bisa dikatakan pemilihan angle dilakukan sebelum pemilihan komposisi. Pilihan angle sangat banyak, seorang fotografer bisa menentukan untuk mengelilingi sebuah Objek 360 derajat, bahkan terkadang ada pilihan untuk mengambil angle dari atas pun dari bawah. Setelah memutuskan dari arah mana ia akan membidik obyek, dan menggese-mengeser sedikit kameranya untuk mengubah letak objek (dan objek-objek lain, termasuk foreground atau background) Untuk mencapai komposisi yang ideal. Walaupun tidak menutup kemungkinan sang fotografer ternyata harus bergeser dan mengubah sedikit lagi untuk mencapai komposisi ideal. Misalnya, karena ternyata dari angle yang ia pilih obyeknya aan kontras dibanding background.


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
    header
      nav
        ul
          li
            a(href='#') Pilih Topik
            ul
                li
                  a(href='Awal.html') Awalan
                li
                  a(href='Sejarah_Photography.html') Sejarah Photography
                li
                  a(href='Jenis-jenis Photography.html') Jenis-jenis Photography
                li
                  a(href='Istilah Dasar Dalam Photography.html') Istilah Dasar Dalam Photography
                li
                  a(href='Jenis Jenis Lensa Kamera.html') Jenis-Jenis Lensa Kamera
                li
                  a(href='Mode-mode Pada Kamera.html') Mode-mode Pada Kamera
                li
                  a(href='Beberapa Fotografer Indonesia.html') Beberapa Fotografer Indonesia
