doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Photography

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    
    article


      section
        
        h1 THIS IS PHOTOGRAPHY

      section
        h2 Sejarah Fotoghrapy
        p FotograFi adalah lukisan melalui cahaya. Tanpa cahaya seni foto ini tidak akan berfungsi. istilah Photography diciptakan pada tahun 1839. Ketika teknologi seni terus berkembang bersama dengan manusia, Ilmu sangat penting bagi menjamin mutu kerja seorang seniman foto (Photografer). Dalam buku The History Of Photography karya Alam Devenport, terbitan Universitas Of New Mexico Press tahun 1991, Seorang peria Mo Ti sudah mengamati sebuah gejala. disebutkan bahwa pada abad ke-5 sebelum masehi (SM), seorang pria bernama Mo Ti sudah terbalik lewat lubang tadi. Mo Ti adalah pertama yang menyadari fenomena camera obscura. Kamera Mulai di perkenalkan ketika para pelukis menghadapi masalah untuk merekam gambar (Potrait) sekitar abad 17 dan 18. akhirnya pada tahun 1824, seorang seniman Lithography Perancis, Joseph-Nicephore Niepce (1765-1833), setelah delapan jam meng-exposed pemandangan dari jendela kameranya, melalui proses yang di sebut Heliogravure (proses kerjanya mirip lithograph) di atas pelat logam yang di lapisi aspal, berhasil melahirkan sebuah imaji yang agak kabur, berhasil pula mempertahankan gambar secara baik.

      section
        h2 Perkembangan Fotografi di Indonesia     
        p
        b Kassian Cephas, </b>orang Jawa kelahiran Yogyakarta, 15 Januari 1845, oleh banyak pihak diakui sebagai 
        b fotografer pertama Indonesia. 
        Fotografer lainnya yang ada di Indonesia sebagian besar adalah keturunan Belanda. Kassian Chepas, yang tinggal dan punya studio di Yogyakarta juga merupakan "pemotret resmi" Kraton Yogyakarta. Selain memotret kalangan elite,Kassian Chepas juga banyak memotret candi dan bangunan bersejarah lainnya terutama yang ada di sekitar Yogyakarta. Selain karya Chepas, foto-foto kuno yang dibuat pada akhir dan awal tahun 1900-an (sayang sekali banyak yang tidak diketahui siapa pemotretnya), banyak juga yang menampilkan sisi keindahan dengan objek 
        b Panorama maupun 
        b Human Interest

      section
        h2 Beberapa Organisasi Foto Yang Tertua di Indonesia
        h3 1. G A P E R F I
        p Merupakan singkatan dari Gabungan Perhimpunan Seni Foto Indonesia, didirikan pada tahun 1953 dengan ketuanyaMayor R.M. Soelarko. GAPERFI  adalah sebuah perhimpunan dari berbagai Klub Foto pada awal berdirinya di tahun 1953, memiliki anggota 7 Klub Foto. Pada tahun 1956 jumlahnya telah membengkak menjadi 13 Klub Foto yang berasal dari seluruh Indonesia.Tanpa menemui halangan yang berarti, GAPERFI yang telah berhasil melakukan dua kali kongres pada tanggal 28 – 30 Oktober tahun 1955 di Semarang dan pada bulan Juli 1956 di Bandung, adalah murni merupakan gabungan dari seluruh perkumpulan atau klub foto di seluruh Indonesia. Dalam usianya yang sangat singkat (1953-1957) GAPERFI sempat mengukirkan saat-saat bersejarah dan indah dalam dunia fotografi di tanah air kita, yaitu dengan mengadakan “Salon Foto Indonesia I” pada tahun 1956, atau yang dikenal dengan nama 1st International Photosalon of Indonesia. GAPERFI juga sempat menerbitkan majalahnya yang bernama “KAMERA” – Madjalah Untuk Penggemar Foto – yang mana telah terbit untuk pertama kalinya pada bulan Februari 1956. KAMERA adalah majalah “bulanan” foto pertama di Indonesia. Sayang hanya sanggup terbit sekali saja.

      section
        h2 2. PAF BANDUNG
        p Sejarah Fotografi Indonesia mencatat bahwa Persatuan Amatir Foto (PAF) Bandung yang lahir pada jaman penjajahan kolonial Belanda yang berdiri pada tanggal 15 Februari 1924, jauh sebelum Perang Dunia II,  adalah sebuah Klub Foto Amatir pertama dan tertua di Indonesia. PAF menjadi anggota GAPERFI pada tahun 1954. Pada tahun 1967 PAF menerbitkan buletinnya yang dikenal dengan nama “Bulletin PAF”, dicetak dalam bentuk stensilan. Diterbitkan guna memenuhi kebutuhan anggotanya akan informasi dan pengetahuan tentang fotografi.Dalam sejarah Fotografi di tanah air, PAF Bandung mempunyai peran utama sebagai pencetus gagasan dan motor penggerak yang akhirnya melahirkan “FPSI” pada tahun 1973.

      section
        h2 3. L F C N
        p Disamping PAF Bandung, ada lagi sebuah Klub Foto yang juga tergolong tua (nomor 2) di tanah air kita, yaitu Lembaga Fotografi Candra Naya (LFCN) yang didirikan pada tahun 1948 – saat itu bernama “Sin Ming Hui”. Klub Foto Candra Naya (dh.Tjandra Naja) merupakan salah satu bagian kegiatan dari sebuah Lembaga yang bergerak dalam berbagai bidang pendidikan dan sosial Kelak di kemudian hari LFCN bersama-sama dengan PAF Bandung dan berbagai Klub Foto lainnya akan turut meletakkan tonggak yang bersejarah dalam pendirian sebuah Federasi Foto Nasional di Indonesia yang kemudian bergabung ke Dunia Fotografi Internasional. Pada perkembangannya, Club Foto Candra Naya lah yang bertahan sampai sekarang..

      section
        h2 fotografer terkenal di Dunia dan Indonesia beserta profilnya
        h3 1. Steven McCurry
        P Steven McCurry telah menjadi salah satu suara yang paling ikonik dalam fotografi kontemporer selama lebih dari tiga puluh tahun, dengan skor majalah dan buku selimut,lebih dari selusin buku,dan pameran yang tak terhitung junlahnya di seluruh dunia untuk namanya.
        P Lahir di pinggiran kota Philadelphia, Pennsylvia,McCurry belajar flm di Pennyslvania State University, sebelum pergi kerja untuk sebuah koran lokal. setelah beberapa tahun kerja freelance, McCurry membuat nya sedikit lebib dari satu tas pakaian dan lain film, dia berjalan melintasi benua,menjelajahi negara dengan kameranya.
        h3 2. Frank Fourner
        P Frank fourner (lahir 1948 di Saint-Server) adalah seorang perancis. Sebelum menjadi seorang fotografer, ia belajar ilmu kedokteran seperti ayahnya, yang seorang dokter bedah. Dia pindah ke New York dan menjadi fotografer staf di Contact Press image pada tahun 1982 setelah bergabung dengan staf kantor pada tahun 1977. Dia terkenal karena liputan tentang tragedi 1985 Armero di Kolombia Nevado del Ruiz gunung berapi, tanah longsor mengarah ke yang menewaskan lebih dari 20.000 orang. Potrait nya Omarya Sanchez, seorang gadis 13 tahun yang terperangkap di bawah reruntuhan rumahnya, dan memenangkan 1985 World Photo penghargaan.
        h3 3. Yousuf Karsh
        P Yousuf Karsh lahir di Mardin, sebuah kota di bagian timur Kekaisaran Ottoman (Turki sekarang) Ia dibesarkan selama Genosida Armenia di mana ia menulis, "Aku melihat keluarga dibantai, Karya karsh ini menarik perhatian selebriti bervariasi, tapi tempatnya dalam sejarah disegel pada 30 desember 1941 ketika ia di foto Winston Churhill, setelah Churchill berpidato kepada canadian house of commons di ottawa.Citra Churchil berhasil membawa terkenal di dunia internasional , dan diklaim sebagai yang paling di reproduksi potret fotografi dalam sejarah. Pada tanggal 13 juli 2002, pada usia 93, ia meninggal di Boston Bringham dan rumah sakit Wanita setelah operasi dan komplikasi. Dia di kebumikan di Notre Dame Cemetery di Ottawa.
      section
        h3 4. Iwan Bagus
        P Bagus merupakan Himawan lahir di jakarta , Indonesia pada 23 Februari 1970. Beliau adalah Fotografer asal indonesia yang terkenal hingga mancanegara. Awalnya Beliau adalah seorang Model Senior Seangkatan dengan Donny Damara, Adjie Pangestu, dll.Beliau memulai karirnya, bekerja sebagai model di Asia Tenggara selama lebih dari 10 tahun, dan beralih profes sebagai Fotografer dan pengajar Fotografi di Amerika ber-title profesor. Beliau memperoleh gelar bidang teknik dari universitas George Washington dan MA di Produksi Film dari American University.

      

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
    header
      nav
        ul
          li
            a(href='#') Pilih Topik
            ul
                li
                  a(href='Sejarah_Photography.html') Sejarah Photography
                li
                  a(href='Jenis-jenis Photography.html') Jenis-jenis Photography
                li
                  a(href='Istilah Dasar Dalam Photography.html') Istilah Dasar Dalam Photography
