doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Photography

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    
    article


      section
        ul 
          li
            h2 Tips membeli kamera DSLR yang baik
          li
            p
            h3 1 Kebutuhan dan Budget
          li
            Membeli kamera DSLR sesuai dangan kebutuhan adalah hal yang bijak. Jangan memaksakan diri membeli yang canggih fiturnya padahal kita tidak membutuhkan fitur tersebut untuk keseharian.Untuk pemula disarankan untuk mencari dengan budget tidak terlalu mahal. Agar kelak jika sudah mahir baru mencari yang handal.
          li
            P 
            h3 2. Sensor 
          li
            Perhatikan Ukuran sensor yang di gunakan untuk menangkap gambar Walaupun banyak sekali variasi ukuran, umumnya terbagi dalam tiga katagori yaitu FullFrame, APS-C dan Four-Thirds.
          li
            P 
            h3 3. ISO
          li 
            Fitur lainnya pada kamera DSLR yang mungkin di perhatikan adalah pengaturan ISO untuk memotret di tempat gelap. ISO ini berkaitan dengan tingkat sensitif sensor pada kamera terhadap cahaya.
          li
            P 
            h3 4. Ukuran dan Model 
          li
            ukuran kamera DSLR memang sangat besar dan tidak seperti kamera digital biasa. Namun ada pula beberapa kamera DSLR yang ringan dan bisa di bawa kemana-mana dengan bentuk kecil.
          li
            p 
            h3 5. Fitur 
          li
            Resolusi Megapixel apabila berencana ingin mencetak foto dalam ukuran besar, sebaiknya membeli kamera dengan resolusi besar sehingga hasil cetakan foto juga bisa maksimal sesuai yang diinginkan.
        
 
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
    header
      nav
        ul
          li
            a(href='#') Pilih Topik
            ul
                li
                  a(href='Awal.html') Awalan
                li
                  a(href='Sejarah_Photography.html') Sejarah Photography
                li
                  a(href='Jenis-jenis Photography.html') Jenis-jenis Photography
                li
                  a(href='Istilah Dasar Dalam Photography.html') Istilah Dasar Dalam Photography
                li
                  a(href='Jenis Jenis Lensa Kamera.html') Jenis-Jenis Lensa Kamera
                li
                  a(href='Mode-mode Pada Kamera.html') Mode-mode Pada Kamera
                li
                  a(href='Beberapa Fotografer Indonesia.html') Beberapa Fotografer Indonesia
                li
                  a(href='Tips Membeli DSLR yang Baik.html') Tips Membeli Kamera DSLR yang Baik.html
